.contacts-about {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 115px;
  padding-bottom: 62px;

  @include viewport--lg {
    padding: 0;
    padding-bottom: 50px;
    justify-content: space-around;
  }

  @include viewport--md {
    padding-top: 30px;
    justify-content: space-between;
    column-gap: 10px;
  }

  @include viewport--sm {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;

    @include viewport--md {
      justify-content: space-between;
    }

    @include viewport--sm {
      align-items: center;
    }
  }

  &__title {
    font-weight: bold;
    font-size: $font-size-h3;
    line-height: $line-height-title;
    color: $color-default-white;
    max-width: 305px;

    margin-bottom: 41px;

    @include viewport--md {
      line-height: 1;
      margin-bottom: 1.2em;
    }

    @include viewport--sm {
      max-width: 100%;
    }
  }

  svg {
    width: 11px;
    height: 10px;
    fill: $secondary-color;
    transition: 0.2s;
  }

  &__link {
    font-weight: 500;
    font-size: 1.3rem;
    color: $color-default-white;
    border: solid 3px rgba(251, 251, 251, 0.15);
    padding: 18px;
    padding-bottom: 16px;
    padding-left: 48px;
    padding-right: 19px;
    width: 100;
    max-width: 371px;
    letter-spacing: 1.35px;
    text-transform: uppercase;
    position: relative;

    @include viewport--md {
      padding: 1em 2em;
    }

    @include viewport--sm {
      width: 100%;
      max-width: 100%;
    }

    @include viewport--xs {
      font-size: 1.2rem;
      padding-top: 16px;
      padding-bottom: 17px;
    }

    &:hover {
      color: rgba(255, 255, 255, 0.5);

      svg {
        fill: rgba(255, 255, 255, 0.5);
      }
    }

    svg {
      width: 11px;
      height: 10px;
      position: absolute;
      right: 30px;
      top: 50%;
      margin-top: -5px;
      transform: rotate(180deg);
      fill: rgba(255, 255, 255, 0.15);
    }
  }

  &__btn {
    max-width: 370px;
    margin-top: 20px;

    @include viewport--md {
      margin-top: 1.1em;
      padding: 1em 2em;
      padding-right: calc(1em + 78px);
    }

    @include viewport--sm {
      max-width: 100%;
    }

    @include viewport--xs {
      text-align: left;
      padding: 1em 2em;
      padding-right: calc(1em + 78px);
    }
  }

  &__foto {
    flex-shrink: 0;
    max-width: 470px;

    @include viewport--md {
      max-width: 400px;
    }

    @include viewport--sm {
      display: none;
    }
  }
}
