:root {
  --action-call-left-offset: -242px;

  @media (max-width: 1233px) {
    --action-call-left-offset: -215px;
  }
}
$left-offset: var(--action-call-left-offset);

.action-call {
  display: flex;
  font-size: 14.6px;
  line-height: 1.6;
  position: relative;
  overflow: hidden;

  &__aside {
    flex: none;
    // padding-bottom: 80px;
    display: flex;
    align-items: flex-end;
    width: 70px;
    background-color: #dce6ed;
    position: relative;

    @include viewport--sm {
      width: 48px;
    }
  }

  &__logo {
    width: 103px;
    height: 16px;
    position: absolute;
    bottom: 93px;
    left: 50%;
    margin-left: -51.5px;
    transform: rotate(-90deg);
  }

  &__content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 50px 70px 0 45px;

    @media (max-width: 1233px) {
      padding-bottom: 50px;
    }

    @include viewport--md {
      padding: 25px 24px;
    }

    @include viewport--sm {
      padding: 10px;
    }
  }

  &__person + &__form-column {
    margin-left: $left-offset;

    @media (max-width: 1233px) {
      margin-left: $left-offset;
    }

    @include viewport--md {
      margin: 0 auto;
    }
  }

  &__form-column {
    width: 100%;
    max-width: 440px;

    @media (max-width: 1233px) {
      max-width: 350px;
    }
  }

  &__person-foto {
    position: relative;
    left: $left-offset;
    bottom: -6px;

    @media (max-width: 1233px) {
      left: $left-offset;
      bottom: -243px;
    }

    img {
      @media (max-width: 1233px) {
        width: 440px;
      }
    }
  }

  &__form-column {
    .contacts-form {
      width: 100%;
      margin: 0 auto;
    }

    .contacts-form__block,
    .contacts-form__list {
      @media (max-width: 820px) {
        width: 50%;
      }

      @media (max-width: 576px) {
        width: 100%;
      }
    }
  }
}
