<article class="action-call">
  @@include('../brand-flag/brand-flag.html')
  <div class="action-call__content">
    @@if (context.person) {
      @@include('../person/person.html', {
        "actionCall": true,
        "person": {
          "name": "@@person.name",
          "employee": "@@person.employee",
          "imgSrc": "@@person.imgSrc",
        },
      })
    }
    <div class="action-call__form-column">
      @@if (context.external) {
        @@external
      }
      @@if (!context.external) {
        @@include('../contacts/contacts-form/template.html', {
          "title": "@@title"
          })
      }
    </div>
  </div>
</article>
