<footer class="footer" data-scroll-section>
  <div class="container">
    <div class="footer__inner">
      <div class="footer__name">
        <a class="footer__logo" @@if (!context.main) {href="index.html" } aria-label="Переход на главную">
          <svg>
            <use xlink:href="/img/sprite_auto.svg#logo"></use>
          </svg>
        </a>
        <div class="footer__title">Строим дома бизнес-класса в Москве и Московской области</div>
        <div class="footer__bank">
          <span>ООО «МАНСИО ГРУПП»</span>
          <span>ИНН 7727435818</span>
          <span>ОГРН 1197746734767</span>
        </div>
        <a class="footer__policy" href="##">Политика конфиденциальности</a>
      </div>
      <div class="footer__center">
        <nav class="footer__nav">
               <a class="footer__link @@if (context.activeLinkIndex === 0) { footer__link--active }" @@if (context.activeLinkIndex !== 0) { href="./projects.html" }>Проекты</a>
               <a class="footer__link @@if (context.activeLinkIndex === 1) { footer__link--active }" @@if (context.activeLinkIndex !== 1) { href="./services.html" }>Услуги</a>
               <a class="footer__link @@if (context.activeLinkIndex === 2) { footer__link--active }" @@if (context.activeLinkIndex !== 2) { href="./technology.html" }>Технологии</a>
               <a class="footer__link @@if (context.activeLinkIndex === 3) { footer__link--active }" @@if (context.activeLinkIndex !== 3) { href="./about.html" }>О нас</a>
               <a class="footer__link @@if (context.activeLinkIndex === 4) { footer__link--active }" @@if (context.activeLinkIndex !== 4) { href="./contacts.html" }>Контакты</a>
        </nav>
        <!-- <div class="footer__login">
          <a href="##">
            <svg>
              <use xlink:href="/img/sprite_auto.svg#login"></use>
            </svg>
            Войти в личный кабинет
          </a>
        </div> -->
      </div>
      <div class="footer__contacts">
        <address class="footer__wrap">
          <div class="footer__item">
            <div class="footer__item-wrap">
              <svg>
                <use xlink:href="/img/sprite_auto.svg#contacts-icon-2"></use>
              </svg>
              <div class="footer__text">
                <a class="footer__phone" href="tel:+74951820242">+7 (495) 182-02-42</a>
                <button type="button" data-modal="back-call">Получить консультацию</button>
              </div>
            </div>
            <div class="footer__social">
              <a href="##">
                <svg>
                  <use xlink:href="/img/sprite_auto.svg#telegram"></use>
                </svg>
              </a>
              <a href="##">
                <svg>
                  <use xlink:href="/img/sprite_auto.svg#whatsapp"></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="footer__item">
            <div class="footer__item-wrap">
              <svg>
                <use xlink:href="/img/sprite_auto.svg#reviews-slider-icon-2"></use>
              </svg>
              <div class="footer__text">
                <div class="footer__subtitle">Адрес:</div>
                <span>Рублево-Успенское шоссе 1 км, д 6, офис 512</span>
              </div>
            </div>
          </div>
          <div class="footer__item">
            <div class="footer__item-wrap">
              <svg>
                <use xlink:href="/img/sprite_auto.svg#footer-icon-1"></use>
              </svg>
              <div class="footer__text">
                <div class="footer__subtitle">Электронная почта:</div>
                <a style="color: inherit" href="mailto:info@mansio-group.ru">info@mansio-group.ru</a>
              </div>
            </div>
          </div>
        </address>
        @@include('../btn/btn.html', {
        "text": "Обратный звонок",
        "modal": "back-call"
        })
      </div>
    </div>
  </div>
  <div class="footer__bottom"></div>
</footer>
