.features {
  background: url("../img/bg-features.jpg") no-repeat;
  background-color: #f2f3f8;
  padding-top: 79px;
  // padding-bottom: 75px;
  padding-bottom: 290px;

  @media (max-width: 991px) {
    padding-top: 60px;
    // padding-bottom: 0;
  }

  @media (max-width: 576px) {
    padding-top: 30px;
  }

  &__blockquote {
    margin: 0;
    padding: 38px 0;
    margin-bottom: 80px;

    @include viewport--xs {
      padding: 0;
      margin-bottom: 90px;
    }
  }

  &__blockquote-cite {
    padding-top: 30px;
    display: block;
    text-align: right;
    padding-right: 50px;

    @include viewport--md {
      padding-right: 20px;
    }

    @include viewport--xs {
      padding-top: 20px;
      padding-right: 0;
      font-size: 13px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 3.3rem;
    color: $secondary-color;
    text-transform: uppercase;
    padding: 0;

    padding-left: 100px;
    border-left: 1px solid $secondary-color;

    @include viewport--xs {
      font-size: 2.2rem;
      line-height: 2.6rem;
      border-left: none;
      padding-left: 0;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 88px;
  }
}
