<section class="features" >
   <div class="container">
      <div class="features__inner">
        <blockquote class="features__blockquote">
         <h2 class="features__title">Каждый квадратный сантиметр вашего дома будет комфортным для вас и вашей семьи</h2>
         <cite class="features__blockquote-cite">Дмитрий Алимов<br>Генеральный директор <span class="logo-brand">MANSIO GROUP</span></cite>
        </blockquote>
         <div class="features__content">
            <!-- features items -->
            @@include('features-item/template.html')
            <!-- features items end -->
         </div>
      </div>
   </div>
</section>
