<ul class="vacancy-list">

  <li class="vacancy-list__item">
    <b class="vacancy__title">Архитектор/инженер-архитектор/инженер-строитель с опытом проектирования малоэтажных
      каменных домов и коттеджей!</b>
    <div class="vacancy-list__dsc">
      <ul>
        <li>Разработка проектной/рабочей документации с&nbsp;помощью <b>AUTODESK REVIT</b></li>
        <li>Применение типовых технологических решений, используемых в&nbsp;компании и&nbsp;разработка новых решений при
          конструктивной необходимости</li>
        <li>Выявление современных тенденций архитектуры, разработка концепции развития отдела</li>
        <li>Ответственность за&nbsp;результаты и&nbsp;сроки</li>
      </ul>
    </div>

    @@include('../btn/btn.html', {
    "text": "Подробнее о&nbsp;вакансии",
    "mod": "blue",
    "bemElement": "vacancy-list__btn",
    "modal": "vacancy1"
    })

    @@include('../btn/btn.html', {
    "text": "Оставить отклик",
    "mod": "borders",
    "bemElement": "vacancy-list__btn",
    "modal": "vacancyResponse"
    })

  </li>

  <li class="vacancy-list__item">
    <b class="vacancy__title">Ведущий архитектор/инженер-архитектор/инженер-строитель с опытом проектирования
      малоэтажных каменных домов и коттеджей!</b>
    <div class="vacancy-list__dsc">
      <ul>
        <li>Разработка проектной/рабочей документации с помощью <b>AUTODESK REVIT</b></li>
        <li>Применение типовых технологических решений, используемых в&nbsp;компании и&nbsp;разработка новых решений при
          конструктивной необходимости</li>
        <li>Организация работы отдела архитектуры, набор сотрудников, руководство,</li>
        <li>Выявление современных тенденций архитектуры, разработка концепции развития отдела</li>
        <li>Ответственность за&nbsp;результаты и&nbsp;сроки</li>
      </ul>
    </div>

    @@include('../btn/btn.html', {
    "text": "Подробнее о&nbsp;вакансии",
    "mod": "blue",
    "bemElement": "vacancy-list__btn",
    "modal": "vacancy2"
    })

    @@include('../btn/btn.html', {
    "text": "Оставить отклик",
    "mod": "borders",
    "bemElement": "vacancy-list__btn",
    "modal": "vacancyResponse"
    })


  </li>

  <li class="vacancy-list__item">
    <b class="vacancy__title">Конструктор</b>
    <div class="vacancy-list__dsc">
      <ul>
        <li>Разработка проектных решений конструкций зданий.</li>
        <li>Оформление расчетно-пояснительной записки и&nbsp;графической части.</li>
        <li>Выполнение расчетов с&nbsp;применением современных программных средств.</li>
        <li>Расчет схем зданий (SCAD, ЛИРА и&nbsp;пр. продукты САПР).</li>
        <li>Рассмотрение и&nbsp;анализ проектной документации субподрядчиков.</li>
        <li>Составление замечаний и&nbsp;рекомендаций.</li>
        <li>Разработка рабочей документации с&nbsp;помощью <b>AUTODESK REVIT</b>.</li>
        <li>Выполнение поставленных задач главного инженера.</li>
        <li>Взаимодействие с&nbsp;производственно-техническим отделом.</li>
        <li>Ответственность за&nbsp;результаты и&nbsp;сроки.</li>
      </ul>
    </div>

    @@include('../btn/btn.html', {
    "text": "Подробнее о&nbsp;вакансии",
    "mod": "blue",
    "bemElement": "vacancy-list__btn",
    "modal": "vacancy3"
    })

    @@include('../btn/btn.html', {
    "text": "Оставить отклик",
    "mod": "borders",
    "bemElement": "vacancy-list__btn",
    "modal": "vacancyResponse"
    })
  </li>

  <li class="vacancy-list__item">
    <b class="vacancy__title">Прораб (загородное домостроение)</b>
    <div class="vacancy-list__dsc">
      <ul>
        <li>Организацией и&nbsp;руководством производственно-хозяйственной деятельности на&nbsp;объекта;</li>
        <li>Производством строительно-монтажных работ в&nbsp;соответствии с&nbsp;проектной документацией, строительными
          нормами и правилами, техническими условиями и&nbsp;другими нормативными документами;</li>
        <li>Соблюдением норм точности и&nbsp;правил ведения строительных работ на&nbsp;объекте, утвержденных
          в&nbsp;компании;
        </li>
        <li>Соблюдением технологической последовательности производства строительно-монтажных работ на&nbsp;участке;
        </li>
        <li>Получением технической документации на&nbsp;строительство объектов;</li>
        <li>Ведением учета выполненных работ, оформление технической документации;</li>
        <li>Участием в&nbsp;сдаче заказчикам законченных строительством объектов, отдельных этапов и&nbsp;комплексов
          работ по
          возводимым объектам;</li>
        <li>Инструктажем рабочих, непосредственно на&nbsp;рабочем месте по&nbsp;технике безопасности выполняемых работ
        </li>
        <li>Применением технологической оснастки (лесов, подмостей, защитных приспособлений, креплений стенок котлованов
          и
          траншей, подкосов, кондукторов и&nbsp;других устройств), транспортных средств и&nbsp;средств защиты
          работников;</li>
        <li>Контролем за&nbsp;качеством и&nbsp;безопасностью выполняемых работ;</li>
        <li>Контролем техники безопасности и&nbsp;принятия мер к&nbsp;устранению выявленных недостатков, нарушений
          правил
          производственной санитарии, соблюдение рабочими инструкций по&nbsp;охране труда;
        <li>Обеспечением соблюдения работниками производственной и&nbsp;трудовой дисциплины.</li>
      </ul>
    </div>
    @@include('../btn/btn.html', {
      "text": "Подробнее о&nbsp;вакансии",
      "mod": "blue",
      "bemElement": "vacancy-list__btn",
      "modal": "vacancy4"
    })

    @@include('../btn/btn.html', {
      "text": "Оставить отклик",
      "mod": "borders",
      "bemElement": "vacancy-list__btn",
      "modal": "vacancyResponse"
    })
  </li>

  <li class="vacancy-list__item">
    <b class="vacancy__title">Сметчик</b>
    <div class="vacancy-list__dsc">
      <ul>
        <li>Составление смет в&nbsp;коммерческих расценках под индивидуальный проект дома на
          строительные и&nbsp;отделочные работы на&nbsp;основе проектных данных (эскизы, проекты,
          чертежи);</li>
        <li>Составление сметных расчетов без проектной документации по&nbsp;приблизительным количественным показателям
          (спецификации) и&nbsp;др.</li>
        <li>Проверка правильности составления смет расходов подрядными организациями;</li>
        <li>Расчет себестоимости обслуживания объектов по&nbsp;ФОТ</li>
        <li>Формирование смет для клиентов в&nbsp;Excel</li>
        <li>Ведение отчета план-факт по&nbsp;маржинальности объектов, составление отчетов с&nbsp;причинами несоответствия
          факта плану
        </li>
        <li>Взаимодействие с&nbsp;поставщиками и&nbsp;подрядчиками</li>
      </ul>
    </div>
    @@include('../btn/btn.html', {
      "text": "Подробнее о&nbsp;вакансии",
      "mod": "blue",
      "bemElement": "vacancy-list__btn",
      "modal": "vacancy5"
    })

    @@include('../btn/btn.html', {
      "text": "Оставить отклик",
      "mod": "borders",
      "bemElement": "vacancy-list__btn",
      "modal": "vacancyResponse"
    })
  </li>
</ul>
