<div class="intro">
   <div class="container">
      <div class="intro__inner">
         <div class="intro__title">Строим дома по <span>авторским проектам</span> с заботой и вниманием к деталям</div>
         <div class="intro__subtitle">Хотите обсудить проект вашего будущего дома?</div>
         <button class="intro__btn" type="button" data-modal="discuss">
            Обсудить проект
            <span>
               <svg>
                  <use xlink:href="#arrows"></use>
               </svg>
            </span>
         </button>
      </div>
      <div class="intro__content">
         @@include('intro-item/template.html')
      </div>
      <div class="intro__mouse">
         <button class="intro__btn-mouse" data-scroll="#works">
            <svg>
               <use xlink:href="#mouse"></use>
            </svg>
         </button>
      </div>
   </div>
</div>
