<div class="intro" style="background-image: url('img/foto/foto-intro.png')">
   <div class="container">
      <div class="intro__inner">
         <div class="intro__title">Строим дома по <span>авторским проектам</span> с заботой и вниманием к деталям</div>
         <div class="intro__subtitle">Хотите обсудить проект вашего будущего дома?</div>
         <button class="intro__btn">
            Обсудить проект            
            <span>
               <svg>
                  <use xlink:href="img/sprite_auto.svg#arrows"></use>
               </svg>
            </span> 
         </button>
      </div>
      <div class="intro__content">
         <!-- intro-items -->
         @@include('intro-item/template.html')
         <!-- intro-items end -->
      </div>
      <div class="intro__mouse">
         <button class="intro__btn-mouse" data-scroll="#works">
            <svg>
               <use xlink:href="img/sprite_auto.svg#mouse"></use>
            </svg>
         </button>
      </div>
   </div>
</div>