<div class="reviews-slider">
   <div class="container">
      <div class="reviews-slider__title">Мы воплотили в жизни мечту <br> более 800 клиентов, посмотрите их отзывы</div>
   </div>
   <div class="reviews-slider__content">
      <!-- item -->
      <div class="reviews-slider__item">
         <!-- reviews foto -->
         @@include('reviews-foto/template.html')
         <!-- reviews foto -->
         <div class="reviews-slider__inner">
            <div class="reviews-slider__foto-slider">
               <a class="reviews-slider__foto glightbox" href="img/foto/reviews-slider-foto-2.png" data-gallery="gallery1"> 
                  <img src="img/foto/reviews-slider-foto-2.png" alt="##">
               </a>
               <a class="reviews-slider__foto glightbox" href="img/foto/reviews-slider-foto-2.png" data-gallery="gallery1">
                  <img src="img/foto/reviews-slider-foto-2.png" alt="##">
               </a>
               <a class="reviews-slider__foto glightbox" href="img/foto/reviews-slider-foto-2.png" data-gallery="gallery1">
                  <img src="img/foto/reviews-slider-foto-2.png" alt="##">
               </a>
               <a class="reviews-slider__foto glightbox" href="img/foto/reviews-slider-foto-2.png" data-gallery="gallery1">
                  <img src="img/foto/reviews-slider-foto-2.png" alt="##">
               </a>
            </div>
            <div class="reviews-slider__info">
               <div class="reviews-slider__block">
                  <div class="reviews-slider__img">
                     <img src="img/foto/reviews-slider-foto-3.png" alt="##">
                  </div>
                  <div class="reviews-slider__name">
                     <div class="reviews-slider__fio">Семья Дунаевых</div>
                     <div class="reviews-slider__wrap">
                        <svg>
                           <use xlink:href="img/sprite_auto.svg#reviews-slider-icon-1"></use>
                        </svg>
                        <span>Дом 143 м2</span>
                     </div>
                     <div class="reviews-slider__wrap">
                        <svg>
                           <use xlink:href="img/sprite_auto.svg#reviews-slider-icon-2"></use>
                        </svg>
                        <span>д. Усово</span>
                     </div>
                  </div>
               </div>
               <button class="reviews-slider__btn">
                  ХОЧУ ПОДОБНЫЙ ДОМ      
                  <span>
                     <svg>
                        <use xlink:href="img/sprite_auto.svg#arrows"></use>
                     </svg>
                  </span> 
               </button>
            </div>
         </div>
      </div>
      <!-- item -->
      <div class="reviews-slider__item">
         <!-- reviews foto -->
         @@include('reviews-foto/template.html')
         <!-- reviews foto -->
         <div class="reviews-slider__inner">
            <div class="reviews-slider__foto-slider">
               <a class="reviews-slider__foto glightbox" href="img/foto/reviews-slider-foto-2.png" data-gallery="gallery2"> 
                  <img src="img/foto/reviews-slider-foto-2.png" alt="##">
               </a>
               <a class="reviews-slider__foto glightbox" href="img/foto/reviews-slider-foto-2.png" data-gallery="gallery2">
                  <img src="img/foto/reviews-slider-foto-2.png" alt="##">
               </a>
               <a class="reviews-slider__foto glightbox" href="img/foto/reviews-slider-foto-2.png" data-gallery="gallery2">
                  <img src="img/foto/reviews-slider-foto-2.png" alt="##">
               </a>
               <a class="reviews-slider__foto glightbox" href="img/foto/reviews-slider-foto-2.png" data-gallery="gallery2">
                  <img src="img/foto/reviews-slider-foto-2.png" alt="##">
               </a>
            </div>
            <div class="reviews-slider__info">
               <div class="reviews-slider__block">
                  <div class="reviews-slider__img">
                     <img src="img/foto/reviews-slider-foto-3.png" alt="##">
                  </div>
                  <div class="reviews-slider__name">
                     <div class="reviews-slider__fio">Семья Дунаевых</div>
                     <div class="reviews-slider__wrap">
                        <svg>
                           <use xlink:href="img/sprite_auto.svg#reviews-slider-icon-1"></use>
                        </svg>
                        <span>Дом 143 м2</span>
                     </div>
                     <div class="reviews-slider__wrap">
                        <svg>
                           <use xlink:href="img/sprite_auto.svg#reviews-slider-icon-2"></use>
                        </svg>
                        <span>д. Усово</span>
                     </div>
                  </div>
               </div>
               <button class="reviews-slider__btn">
                  ХОЧУ ПОДОБНЫЙ ДОМ      
                  <span>
                     <svg>
                        <use xlink:href="img/sprite_auto.svg#arrows"></use>
                     </svg>
                  </span> 
               </button>
            </div>
         </div>
      </div>
      <!-- item -->
      <div class="reviews-slider__item">
         <!-- reviews foto -->
         @@include('reviews-foto/template.html')
         <!-- reviews foto -->
         <div class="reviews-slider__inner">
            <div class="reviews-slider__foto-slider">
               <a class="reviews-slider__foto glightbox" href="img/foto/reviews-slider-foto-2.png" data-gallery="gallery3"> 
                  <img src="img/foto/reviews-slider-foto-2.png" alt="##">
               </a>
               <a class="reviews-slider__foto glightbox" href="img/foto/reviews-slider-foto-2.png" data-gallery="gallery3">
                  <img src="img/foto/reviews-slider-foto-2.png" alt="##">
               </a>
               <a class="reviews-slider__foto glightbox" href="img/foto/reviews-slider-foto-2.png" data-gallery="gallery3">
                  <img src="img/foto/reviews-slider-foto-2.png" alt="##">
               </a>
               <a class="reviews-slider__foto glightbox" href="img/foto/reviews-slider-foto-2.png" data-gallery="gallery3">
                  <img src="img/foto/reviews-slider-foto-2.png" alt="##">
               </a>
            </div>
            <div class="reviews-slider__info">
               <div class="reviews-slider__block">
                  <div class="reviews-slider__img">
                     <img src="img/foto/reviews-slider-foto-3.png" alt="##">
                  </div>
                  <div class="reviews-slider__name">
                     <div class="reviews-slider__fio">Семья Дунаевых</div>
                     <div class="reviews-slider__wrap">
                        <svg>
                           <use xlink:href="img/sprite_auto.svg#reviews-slider-icon-1"></use>
                        </svg>
                        <span>Дом 143 м2</span>
                     </div>
                     <div class="reviews-slider__wrap">
                        <svg>
                           <use xlink:href="img/sprite_auto.svg#reviews-slider-icon-2"></use>
                        </svg>
                        <span>д. Усово</span>
                     </div>
                  </div>
               </div>
               <button class="reviews-slider__btn">
                  ХОЧУ ПОДОБНЫЙ ДОМ      
                  <span>
                     <svg>
                        <use xlink:href="img/sprite_auto.svg#arrows"></use>
                     </svg>
                  </span> 
               </button>
            </div>
         </div>
      </div>
      <!-- item -->
      <div class="reviews-slider__item">
         <!-- reviews foto -->
         @@include('reviews-foto/template.html')
         <!-- reviews foto -->
         <div class="reviews-slider__inner">
            <div class="reviews-slider__foto-slider">
               <a class="reviews-slider__foto glightbox" href="img/foto/reviews-slider-foto-2.png" data-gallery="gallery4"> 
                  <img src="img/foto/reviews-slider-foto-2.png" alt="##">
               </a>
               <a class="reviews-slider__foto glightbox" href="img/foto/reviews-slider-foto-2.png" data-gallery="gallery4">
                  <img src="img/foto/reviews-slider-foto-2.png" alt="##">
               </a>
               <a class="reviews-slider__foto glightbox" href="img/foto/reviews-slider-foto-2.png" data-gallery="gallery4">
                  <img src="img/foto/reviews-slider-foto-2.png" alt="##">
               </a>
               <a class="reviews-slider__foto glightbox" href="img/foto/reviews-slider-foto-2.png" data-gallery="gallery4">
                  <img src="img/foto/reviews-slider-foto-2.png" alt="##">
               </a>
            </div>
            <div class="reviews-slider__info">
               <div class="reviews-slider__block">
                  <div class="reviews-slider__img">
                     <img src="img/foto/reviews-slider-foto-3.png" alt="##">
                  </div>
                  <div class="reviews-slider__name">
                     <div class="reviews-slider__fio">Семья Дунаевых</div>
                     <div class="reviews-slider__wrap">
                        <svg>
                           <use xlink:href="img/sprite_auto.svg#reviews-slider-icon-1"></use>
                        </svg>
                        <span>Дом 143 м2</span>
                     </div>
                     <div class="reviews-slider__wrap">
                        <svg>
                           <use xlink:href="img/sprite_auto.svg#reviews-slider-icon-2"></use>
                        </svg>
                        <span>д. Усово</span>
                     </div>
                  </div>
               </div>
               <button class="reviews-slider__btn">
                  ХОЧУ ПОДОБНЫЙ ДОМ      
                  <span>
                     <svg>
                        <use xlink:href="img/sprite_auto.svg#arrows"></use>
                     </svg>
                  </span> 
               </button>
            </div>
         </div>
      </div>
   </div>
   <!-- reviews panel -->
   @@include('reviews-panel/template.html')
   <!-- reviews panel -->
</div>