<div class="member">
  <picture class="member__picture">
    <source srcset="/img/person/Прораб_Владимир_Короткин.webp 1x" type="image/webp">
    <img src="/img/person/Прораб_Владимир_Короткин.jpg"
    alt="Прораб Mansio group — Владимир Короткин" width="500">
  </picture>
  <div class="member__text-wrapper">
    <p class="member__caption">Профиль сотрудника</p>
    <dl class="member__dl">
      <dt class="member__dt  member__dt--name">Владимир Короткин</dt>
      <dd class="member__dd  member__dd--post">Прораб</dd>

      <dt class="member__dt  member__dt--email">email:</dt>
      <dd class="member__dd"><a href="mailto:">📧 email адрес засекретили</a></dd>

      <dt class="member__dt">Информация</dt>
      <dd class="member__dd">О себе пока не рассказал 😟</dd>

      <dt class="member__dt">Образование</dt>
      <dd class="member__dd">О себе пока не рассказал 😟</dd>
    </dl>

  </div>
  @@include("brand-flag/brand-flag.html")
</div>
