<article class="vacancy__modal-content">
  <h3 class="vacancy__title">Конструктор</h3>
  <h4>Обязанности:</h4>
  <ul>
    <li>Разработка проектных решений конструкций зданий.</li>
    <li>Оформление расчетно-пояснительной записки и&nbsp;графической части.</li>
    <li>Выполнение расчетов с&nbsp;применением современных программных средств.</li>
    <li>Расчет схем зданий (SCAD, ЛИРА и&nbsp;пр. продукты САПР).</li>
    <li>Рассмотрение и&nbsp;анализ проектной документации субподрядчиков.</li>
    <li>Составление замечаний и&nbsp;рекомендаций.</li>
    <li>Разработка рабочей документации с&nbsp;помощью <b>AUTODESK REVIT</b>.</li>
    <li>Выполнение поставленных задач главного инженера.</li>
    <li>Взаимодействие с&nbsp;производственно-техническим отделом.</li>
    <li>Ответственность за&nbsp;результаты и&nbsp;сроки.</li>
  </ul>
  <h4>Требования:</h4>
  <ul>
    <li>Опыт работы в&nbsp;проектировании строений из&nbsp;газобетона, теплой керамики и&nbsp;кирпича.</li>
    <li>Высшее профильное образование ПГС.</li>
    <li>Знание нормативной документации в&nbsp;сфере проектирования (разделы КЖ, КМ, КД), и&nbsp;соблюдение требований СП.</li>
    <li>Практический опыт конструктивных расчетов.</li>
    <li>Работа в&nbsp;программах MS&nbsp;Office, AutoCad, Revit, ЛИРА, ПК&nbsp;SCAD.</li>
    <li>Умение работать в&nbsp;сжатые сроки.</li>
  </ul>
  <h4>Условия:</h4>
  <ul>
    <li>График работы: с&nbsp;10.00 до&nbsp;19.00&nbsp;/ 5/2</li>
    <li>Заработная плата рассматривается по&nbsp;результатам собеседования</li>
    <li>Возможность карьерного роста</li>
    <li>Возможность посещения профильных курсов повышения квалификации за&nbsp;счет компании</li>
    <li>Молодой дружный коллектив</li>
    <li>Трудоустройство согласно ТК&nbsp;РФ</li>
  </ul>
</article>
