<article class="vacancy__modal-content">
  <h3 class="vacancy__title">Прораб (загородное домостроение)</h3>
  <h4>Обязанности:</h4>
  <ul>
    <li>Организацией и&nbsp;руководством производственно-хозяйственной деятельности на&nbsp;объекта;</li>
    <li>Производством строительно-монтажных работ в&nbsp;соответствии с&nbsp;проектной документацией, строительными нормами и правилами, техническими условиями и&nbsp;другими нормативными документами;</li>
    <li>Соблюдением норм точности и&nbsp;правил ведения строительных работ на&nbsp;объекте, утвержденных в&nbsp;компании;</li>
    <li>Соблюдением технологической последовательности производства строительно-монтажных работ на&nbsp;участке;</li>
    <li>Получением технической документации на&nbsp;строительство объектов;</li>
    <li>Ведением учета выполненных работ, оформление технической документации;</li>
    <li>Участием в&nbsp;сдаче заказчикам законченных строительством объектов, отдельных этапов и&nbsp;комплексов работ по возводимым объектам;</li>
    <li>Инструктажем рабочих, непосредственно на&nbsp;рабочем месте по&nbsp;технике безопасности выполняемых работ</li>
    <li>Применением технологической оснастки (лесов, подмостей, защитных приспособлений, креплений стенок котлованов и траншей, подкосов, кондукторов и&nbsp;других устройств), транспортных средств и&nbsp;средств защиты работников;</li>
    <li>Контролем за&nbsp;качеством и&nbsp;безопасностью выполняемых работ;</li>
    <li>Контролем техники безопасности и&nbsp;принятия мер к&nbsp;устранению выявленных недостатков, нарушений правил производственной санитарии, соблюдение рабочими инструкций по&nbsp;охране труда;
    <li>Обеспечением соблюдения работниками производственной и&nbsp;трудовой дисциплины.</li>
  </ul>
  <h4>Требование:</h4>
  <ul>
    <li>Образование высшее (ПГС);</li>
    <li>Наличие инструмента для проведения полного спектра работ;</li>
    <li>Опыт работы прорабом по&nbsp;производству общестроительных работ не&nbsp;менее 5&nbsp;лет;</li>
    <li>Опыт работы в&nbsp;деревянном домостроении от&nbsp;5&nbsp;лет;</li>
    <li>Опыт работ с&nbsp;газоблоком, керамическим блоком (porotherm);</li>
    <li>Знание правил по&nbsp;ОТ и&nbsp;ТБ;</li>
    <li>Знание СНиП, нормативных документов в&nbsp;строительстве.</li>
    </li>
  </ul>
  <h4>Условия:</h4>
  <ul>
    <li>Разъездной характер работ по&nbsp;Московской области;</li>
    <li>Возможность профессионального и&nbsp;карьерного роста;</li>
    <li>Тренинги по&nbsp;улучшению профессиональных навыков;</li>
    <li>Выплата премий за&nbsp;подачу и&nbsp;внедрение собственных идей, направленных на&nbsp;повышение качества работы компании;</li>
    <li>Оплата внешних курсов, тренингов, семинаров по&nbsp;повышению квалификации;</li>
    <li>Регулярные корпоративные мероприятия, проводимые полностью за&nbsp;счёт компании;</li>
  </ul>
</article>
