<article class="vacancy__modal-content">
  <h3 class="vacancy__title">Ведущий архитектор/инженер-архитектор/инженер-строитель с опытом проектирования малоэтажных
    каменных домов и коттеджей!</h3>
  <h4>Обязанности:</h4>
  <ul>
    <li>Разработка проектной/рабочей документации с помощью <b>AUTODESK REVIT</b></li>
    <li>Применение типовых технологических решений, используемых в&nbsp;компании и&nbsp;разработка новых решений при
      конструктивной необходимости</li>
    <li>Организация работы отдела архитектуры, набор сотрудников, руководство,</li>
    <li>Выявление современных тенденций архитектуры, разработка концепции развития отдела</li>
    <li>Ответственность за&nbsp;результаты и&nbsp;сроки</li>
  </ul>
  <h4>Требования:</h4>
  <ul>
    <li>Образование высшее, (инженер-архитектор, инженер-строитель)</li>
    <li>Опыт работы не&nbsp;менее 5&nbsp;лет в&nbsp;должности архитектора, инженера-проектировщика или конструктор
      (желательно именно в области малоэтажного монолитного&nbsp;/ каменного домостроения).</li>
    <li>Знание <b>программном комплексе Revit (Autodesk) обязательно</b></li>
    <li>Коммуникабельность, целеустремленность, высокая трудоспособность</li>
    <li>Умение работать в&nbsp;сжатые сроки</li>
    <li>Приветствуется креативность и&nbsp;творческий подход</li>
    <li>Резюме предоставлять с&nbsp;портфолио.</li>
  </ul>
  <h4>Условия:</h4>
  <ul>
    <li>График работы: с&nbsp;10.00 до&nbsp;19.00&nbsp;/ 5/2</li>
    <li>Заработная плата рассматривается по&nbsp;результатам собеседования</li>
    <li>Возможность карьерного роста</li>
    <li>Возможность посещения профильных курсов повышения квалификации за&nbsp;счет компании</li>
    <li>Молодой дружный коллектив</li>
    <li>Трудоустройство согласно ТК&nbsp;РФ</li>
  </ul>

</article>
