<div class="member">
  <picture class="member__picture">
    <source srcset="/img/person/Ведущий_Архитектор_Елизавета_Труб.webp 1x" type="image/webp">
    <img src="/img/person/Ведущий_Архитектор_Елизавета_Труб.jpg"
    alt="Ведущий Архитектор Mansio group — Елизавета Труб" width="418">
  </picture>
  <div class="member__text-wrapper">
    <p class="member__caption">Профиль сотрудника</p>
    <dl class="member__dl">
      <dt class="member__dt  member__dt--name">Елизавета Труб</dt>
      <dd class="member__dd  member__dd--post">Ведущий Архитектор</dd>

      <dt class="member__dt  member__dt--email">email:</dt>
      <dd class="member__dd"><a href="mailto:">📧 email адрес засекретили</a></dd>

      <dt class="member__dt">Информация</dt>
      <dd class="member__dd">О себе пока не рассказала 😟</dd>

      <dt class="member__dt">Образование</dt>
      <dd class="member__dd">О себе пока не рассказала 😟</dd>
    </dl>

  </div>
  @@include("brand-flag/brand-flag.html")
</div>
