@@include('action-call/action-call.html', {
  "external": '<script>!function(a,m,o,c,r,m){a[o+c]=a[o+c]||{setMeta:function(p){this.params=(this.params||[]).concat([p])}},a[o+r]=a[o+r]||function(f){a[o+r].f=(a[o+r].f||[]).concat([f])},a[o+r]({id:"824308",hash:"eb4c8a02bc8d0e34f40c0bf6717e14c2",locale:"ru"})}(window,0,"amo_forms_","params","load");</script><script id="amoforms_script_824308" async="async" charset="utf-8" src="https://forms.amocrm.ru/forms/assets/js/amoforms.js?1629695953"></script>',
  "dsc": "В&nbsp;ближайшее время с&nbsp;вами свяжется персональный менеджер и&nbsp;ответит на&nbsp;интересующие вопросы",
  "title": "Мы&nbsp;вам перезвоним",
  "btnText": "Перезвоните мне"
})
