@@include('action-call/action-call.html', {
  "external": '<script>!function(a,m,o,c,r,m){a[o+c]=a[o+c]||{setMeta:function(p){this.params=(this.params||[]).concat([p])}},a[o+r]=a[o+r]||function(f){a[o+r].f=(a[o+r].f||[]).concat([f])},a[o+r]({id:"823750",hash:"e76b0394838a458bc0c9c429b22b83e2",locale:"ru"})}(window,0,"amo_forms_","params","load");</script><script id="amoforms_script_823750" async="async" charset="utf-8" src="https://forms.amocrm.ru/forms/assets/js/amoforms.js?1629472904"></script>',
  "dsc": "Мы&nbsp;свяжемся с&nbsp;вами в&nbsp;кратчайшие сроки и&nbsp;проведем экскурсию по&nbsp;нашим объекта",
  "person": {
    "name": "Александра Бикова",
    "employee": "Проектный консультант",
    "imgSrc": "img/content/manager-w",
    "imgWidth": "704",
  },
  "title": "Запись на&nbsp;просмотр строящихся<br>или готовых домов Mansio Group",
  "btnText": "Записаться на&nbsp;просмотр построенных домов"
})
