@@include('action-call/action-call.html', {
  "external": '@@externalForm.registrationViewingModal',
  "dsc": "Мы&nbsp;свяжемся с&nbsp;вами в&nbsp;кратчайшие сроки и&nbsp;проведем экскурсию по&nbsp;нашим объекта",
  "person": {
    "name": "Александра Бикова",
    "employee": "Проектный консультант",
    "imgSrc": "img/content/manager-w",
    "imgWidth": "704",
  },
  "title": "Запись на&nbsp;просмотр строящихся<br>или готовых домов Mansio Group",
  "btnText": "Записаться на&nbsp;просмотр построенных домов"
})
