@@include('action-call/action-call.html', {
  "external": '<script>!function(a,m,o,c,r,m){a[o+c]=a[o+c]||{setMeta:function(p){this.params=(this.params||[]).concat([p])}},a[o+r]=a[o+r]||function(f){a[o+r].f=(a[o+r].f||[]).concat([f])},a[o+r]({id:"824437",hash:"bc1d3d7136b6a981ba531b07a2f4df4f",locale:"ru"})}(window,0,"amo_forms_","params","load");</script><script id="amoforms_script_824437" async="async" charset="utf-8" src="https://forms.amocrm.ru/forms/assets/js/amoforms.js?1629710154"></script>',
  "title": "У&nbsp;вас есть готовый проект?<br>Присылайте нам его.",
  "dsc": "Проведем тщательную экспертизу, рассчитаем точную смету и&nbsp;сроки строительства",
  "btnText": "Провести экспертизу"
})
