<article class="vacancy__modal-content">
  <h3 class="vacancy__title">Сметчик</h3>
  <h4>Обязанности:</h4>
  <ul>
    <li>Составление смет в&nbsp;коммерческих расценках под индивидуальный проект дома на
      строительные и&nbsp;отделочные работы на&nbsp;основе проектных данных (эскизы, проекты,
      чертежи);</li>
    <li>Составление сметных расчетов без проектной документации по&nbsp;приблизительным количественным показателям
      (спецификации) и&nbsp;др.</li>
    <li>Проверка правильности составления смет расходов подрядными организациями;</li>
    <li>Расчет себестоимости обслуживания объектов по&nbsp;ФОТ</li>
    <li>Формирование смет для клиентов в&nbsp;Excel</li>
    <li>Ведение отчета план-факт по&nbsp;маржинальности объектов, составление отчетов с&nbsp;причинами несоответствия
      факта плану
    </li>
    <li>Взаимодействие с&nbsp;поставщиками и&nbsp;подрядчиками</li>
  </ul>
  <h4>Требования:</h4>
  <ul>
    <li>Высшее образование&nbsp;&mdash; строительное, техническое, экономическое + доп.сметное</li>
    <li>Обязательное знание ПО: MS&nbsp;Office (Excel, Word)</li>
    <li>Знание AutoCAD, ArchiCAD (приветствуется)</li>
    <li>Умение читать проектную и&nbsp;техническую документацию, определять объемы работ
      и&nbsp;материалов по&nbsp;чертежам</li>
    <li>Опыт работы по&nbsp;составлению смет на&nbsp;строительные и&nbsp;отделочные работы в&nbsp;сфере
      загородного домостроения не&nbsp;менее 2&nbsp;лет</li>
    <li>Опыт работы с&nbsp;каменными домами (приветствуется)</li>
    <li>Знание проектно-сметной документации</li>
    <li>Знание строительных процессов и&nbsp;технологий производства работ</li>
    <li>Ответственность, исполнительность, дисциплинированность, внимательность,
      самостоятельность, аккуратность, стрессоустойчивость, нацеленность на&nbsp;результат</li>
    <li>Работа в&nbsp;команде</li>
  </ul>
  <h4>Условия:</h4>
  <ul>
    <li>График работы: с&nbsp;10.00 до&nbsp;19.00&nbsp;/ 5/2</li>
    <li>Заработная плата рассматривается по&nbsp;результатам собеседования</li>
    <li>Возможность карьерного роста</li>
    <li>Возможность посещения профильных курсов повышения квалификации за&nbsp;счет
      компании</li>
    <li>Молодой дружный коллектив</li>
    <li>Трудоустройство согласно ТК&nbsp;РФ</li>
  </ul>
</article>
