<div class="info-foto">
   <div class="info-foto__item">
      <div class="info-foto__img">
         <img src="img/foto/info-foto-1.jpg" alt="##">
      </div>
      <div class="info-foto__title">Познакомимся</div>
   </div>
   <div class="info-foto__item">
      <div class="info-foto__img">
         <img src="img/foto/info-foto-2.jpg" alt="##">
      </div>
      <div class="info-foto__title">Напоим вкусным <br> кофе или чаем</div>
   </div>
   <div class="info-foto__item">
      <div class="info-foto__img">
         <img src="img/foto/info-foto-3.jpg" alt="##">
      </div>
      <div class="info-foto__title">Обсудим в спокойной обстановке ваш будущий дом</div>
   </div>
</div>