<div class="contacts">
  <div class="container">
    <div class="contacts__inner">
      <div class="contacts__content">
        <div class="contacts__logo">
          <svg width="103" height="16">
            <use xlink:href="#logo"></use>
          </svg>
        </div>
        <div class="contacts__wrap">
          <div class="contacts__foto">
            <img src="img/foto/contacts-foto-4.png" alt="##">
          </div>
          <!-- contacts-form -->
          @@include('contacts-form/template-3.html')
          <!-- contacts-form end -->
        </div>
      </div>
    </div>
    <div class="contacts__social">
      <div class="contacts__social-title">Подписывайтесь на наши соцсети <br> и будьте в курсе событий, а также <br>
        самых выгодных предложений</div>
      <div class="contacts__link">
        <a href="##">
          <svg>
            <use xlink:href="#facebook"></use>
          </svg>
        </a>
        <a class="contacts__vk" href="##">
          <svg>
            <use xlink:href="#vk"></use>
          </svg>
        </a>
        <a href="##">
          <svg>
            <use xlink:href="#instagram"></use>
          </svg>
        </a>
        <a class="contacts__youtube" href="##">
          <svg>
            <use xlink:href="#youtube"></use>
          </svg>
        </a>
        <a href="##">
          <svg>
            <use xlink:href="#tik-tok"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
