<div class="contacts">
  <div class="container">
    <div class="contacts__inner">
      <div class="contacts__content">
        <div class="contacts__logo">
          <svg width="103" height="16">
            <use xlink:href="#logo"></use>
          </svg>
        </div>
        <div class="contacts__wrap">
          <div class="contacts__name">
            <div class="contacts__title">Михаил Михайлов</div>
            <div class="contacts__subtitle">Архитектор Mansio</div>
          </div>
          <div class="contacts__foto">
            <picture>
              <source srcset="img/content/manager.webp 1x" type="image/webp">
              <img src="img/content/manager.png" width="651" alt="Фотография Архитектор Mansio Михаил Михайлов">
            </picture>
          </div>
          <!-- contacts-form -->
          @@include('contacts-form/template-4.html')
          <!-- contacts-form end -->
        </div>
      </div>
    </div>
    <!-- contacts-text -->
    @@include('contacts-about/template.html')
    <!-- contacts-text end -->
  </div>
</div>
