@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    font-style: #{$style};
    font-weight: #{$weight};
    src: local("#{$file_name}"), url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
  }
}

@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

// Desktop first

@mixin viewport--xl {
  @media (max-width: $viewport--xxl) {
    @content;
  }
}

@mixin viewport--lg {
  @media (max-width: $viewport--xl - 0.02) {
    @content;
  }
}

@mixin viewport--md {
  @media (max-width: $viewport--lg - 0.02) {
    @content;
  }
}

@mixin viewport--sm {
  @media (max-width: $viewport--md - 0.02) {
    @content;
  }
}

@mixin viewport--xs {
  @media (max-width: $viewport--sm - 0.02) {
    @content;
  }
}

// Mobile first

/* @mixin viewport--md {
  @media (min-width: $viewport--md) {
    @content;
  }
}

@mixin viewport--lg {
  @media (min-width: $viewport--lg) {
    @content;
  }
}

@mixin viewport--xl {
  @media (min-width: $viewport--xl) {
    @content;
  }
}

@mixin viewport--xxl {
  @media (min-width: $viewport--xxl) {
    @content;
  }
} */

@mixin container {
  width: 100%;
  max-width: 1290px;
  padding: 0 60px;
  margin: 0 auto;

  @include viewport--lg {
    padding-left: 32px;
    padding-right: 32px;
  }

  @include viewport--md {
    padding-left: 24px;
    padding-right: 24px;
  }

  @include viewport--sm {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@mixin vh100 {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

@mixin h2 {
  font-size: $font-size-h2;
  line-height: $line-height-title;
  font-weight: bold;
  color: $secondary-color;
  text-transform: uppercase;
}
