body {
   margin: 0;
   overflow-x: hidden;
}


html {
   overflow-x:hidden;
   font-size: 62.5%;
}


a {
   text-decoration: none;
   transition: .2s;
}


*,
*:before,
*:after {
   box-sizing: border-box;
   outline: none;
   margin: 0;
   padding: 0;
}


h1, h2, h3, h4, h5, h6 {
   margin: 0;
}

p {
   margin: 0;
}


li {
   list-style: none;
}


ul {
   padding-left: 0;
   margin: 0;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button  {
   -webkit-appearance: none;
   margin: 0;
}

input[type="number"] {
   -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
   -moz-appearance: number-input
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

input {
   margin: 0;
   padding: 0;
   border: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}


button {
   background: none;
   border: none;
}


textarea {
   resize: none;
}

picture, source {
  font-size: 0;
}

.container {
   width: 100%;
   max-width: 1170px;
   margin: 0 auto;
  @include viewport--lg {
    padding: 0 32px;
  }

  @include viewport--md {
    padding: 0 24px;
  }

  @include viewport--sm {
    padding: 0 16px;
  }
}


.main {
   width: 100%;
   max-width: 1920px;
   margin: 0 auto;
   overflow: hidden;
   &__background {
      // background-image: url('../img/foto/features-background.png');
      // background-repeat: no-repeat;
      // background-size: cover;
      &--project {
         background-image: url('../img/foto/project-background-foto.png');
         background-repeat: no-repeat;
         background-position: bottom;
      }
      @media (max-width: 1200px) {
         background-size: cover;
      }
   }
}
