@mixin font($font_name, $file_name, $weight, $style)  {
   @font-face {
      font-family: $font_name;
      font-display: swap;
      src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
      font-weight: #{$weight};
      font-style: #{$style};
   }
}

$white: #fff;
$primary-color: #f9df8f;
$secondary-color: #0c1e2c;

@import 'fonts';
@import 'page-style';

// Модуль для тестирования, не должен быть в финальной версии и версии для клиента
@import "vendor/test";

/* header */
@import '../components/header/style.scss';
@import '../components/header/menu/style.scss';

/* footer */
@import '../components/footer/style.scss';


/* ------- PAGES ------- */

/* -- index -- */

/* intro */
@import '../components/intro/style.scss';
@import '../components/intro/intro-item/style.scss';

/* works */
@import '../components/works/style.scss';
@import '../components/works/works-item/style.scss';

/* about */
@import '../components/about/style.scss';

/* product */
@import '../components/product/style.scss';

/* features */
@import '../components/features/style.scss';
@import '../components/features/features-item/style.scss';

/* contacts */
@import '../components/contacts/style.scss';
@import '../components/contacts/contacts-form/style.scss';
@import '../components/contacts/contacts-text/style.scss';

/* project */
@import '../components/project/style.scss';

/* reviews */
@import '../components/reviews/style.scss';

/* reviews-slider */
@import '../components/reviews-slider/style.scss';
@import '../components/reviews-slider/reviews-foto/style.scss';
@import '../components/reviews-slider/reviews-panel/style.scss';


/* -- page-contacts -- */


/* intro-contacts */
@import '../components/intro-contacts/style.scss';

/* connection */
@import '../components/connection/style.scss';

/* connection */
@import '../components/members/style.scss';

/* info */
@import '../components/info/style.scss';

/* map */
@import '../components/map/style.scss';

/* info-foto */
@import '../components/info-foto/style.scss';

/* contacts */
@import '../components/contacts/style.scss';
@import '../components/contacts/contacts-form/style.scss';


/* --  page-project -- */

/* intro-project */
@import '../components/intro-project/style.scss';

/* works */
@import '../components/works/style.scss';
@import '../components/works/works-item/style.scss';

/* filter */
@import '../components/filter/style.scss';

/* form */
@import '../components/form/style.scss';

/* contacts */
@import '../components/contacts/style.scss';
@import '../components/contacts/contacts-form/style.scss';
@import '../components/contacts/contacts-about/style.scss';

/* project-item */
@import '../components/project-item/style.scss';