<div class="contacts-about">
  <div class="contacts-about__content">
    <div class="contacts-about__title">Узнайте больше о нас и нашем подходе!</div>
    <a class="contacts-about__link" href="/about.html">
      Перейти в раздел о нас
      <svg>
        <use xlink:href="/img/sprite_auto.svg#arrows"></use>
      </svg>
    </a>
    @@include('../../btn/btn.html', {
      "text": "Посетить наши готовые объекты и&nbsp;пообщаться с&nbsp;их&nbsp;владельцами",
      "modal": "registration-for-viewing",
      "mod": "white",
      "bemElement": "contacts-about__btn"
    })
  </div>
  <picture class="contacts-about__foto">
    <source srcset="img/content/text-about.webp 1x" type="image/webp" width="470">
    <img src="img/content/text-about.jpg" width="470" alt="Фотография счастливых клиентов" loading="lazy">
  </picture>
</div>
