<div class="contacts-about">
   <div class="contacts-about__content">
      <div class="contacts-about__title">Узнайте больше о нас и нашем подходе!</div>
      <a class="contacts-about__link" href="##">
         ПЕРЕЙТИ В РАЗДЕЛ О НАС
         <svg>
            <use xlink:href="img/sprite_auto.svg#arrows"></use>
         </svg>
      </a>
      <a class="contacts-about__btn" href="##">
         Посетить наши готовые <br> объекты и пообщаться <br> с их владельцами
         <svg>
            <use xlink:href="img/sprite_auto.svg#arrows"></use>
         </svg>
      </a>
   </div>
   <div class="contacts-about__foto">
      <img src="img/foto/contacts-about-foto.jpg" alt="##">
   </div>
</div>