.container {
  width: 100%;
  // max-width: 1170px;
  max-width: 1290px;
  padding: 0 60px;
  margin: 0 auto;
 @include viewport--lg {
   padding: 0 32px;
 }

 @include viewport--md {
   padding: 0 24px;
 }

 @include viewport--sm {
   padding: 0 16px;
 }
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}

.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: calc(100 * var(--vh, 1vh));
  overflow-x: hidden;

  &--no-scrollbar {
    height: 100vh;
    height: calc(100 * var(--vh, 1vh));

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .header,
  .footer {
    flex-shrink: 0;
  }

  main {
    flex-grow: 1;
  }
}

.scroll-lock {
  position: fixed;

  overflow-y: auto;
}

.btn-reset {
  padding: 0;

  background: $color-transparent;
  border: none;
  cursor: pointer;
}

// .main {
//   width: 100%;
//  //  max-width: 1920px;
//   margin: 0 auto;
//   overflow: hidden;
//   &__background {
//      // background-image: url('../img/foto/features-background.png');
//      // background-repeat: no-repeat;
//      // background-size: cover;
//      &--project {
//         background-image: url('../img/foto/project-background-foto.png');
//         background-repeat: no-repeat;
//         background-position: bottom;
//      }
//      @media (max-width: 1200px) {
//         background-size: cover;
//      }
//   }
// }

@keyframes disableBreakpointAnimation {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: hidden;
    opacity: 0;
  }
}
