.container {
  width: 100%;
  max-width: 1170px;
  // max-width: 1290px;
  // padding: 0 60px;
  margin: 0 auto;

  @include viewport--lg {
    padding: 0 32px;
  }

  @include viewport--md {
    padding: 0 20px;
  }

  @include viewport--sm {
    padding: 0 16px;
  }

  @include viewport--xs {
    padding: 0 5px;
  }

  &--xxl {
    max-width: 1920px;
  }
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}

.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: calc(100 * var(--vh, 1vh)); /* stylelint-disable-line rule */
  overflow-x: hidden;
  // visibility: hidden;
  // opacity: 0;

  &--page-loaded {
    visibility: visible;
    opacity: 1;
  }
  // &__scene {
  //   animation-duration: 0.25s;
  //   transition-timing-function: ease-in;
  //   animation-fill-mode: both;

  //   &--fadein {
  //     animation-name: fadeIn;
  //   }

  //   &--fadeinup {
  //     animation-name: fadeInUp;
  //   }

  //   &--fadeinright {
  //     animation-name: fadeInRight;
  //   }
  // }

  // &--is-exiting {
  //   .wrapper__scene {
  //     animation-direction: alternate-reverse;
  //   }
  // }

  &--no-scrollbar {
    height: 100vh;
    height: calc(100 * var(--vh, 1vh)); /* stylelint-disable-line rule */

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .header,
  .footer {
    flex-shrink: 0;
  }

  main {
    flex-grow: 1;
    background-color: $color-default-white;
  }
}

.scroll-lock {
  position: fixed;

  overflow-y: auto;
}

.btn-reset {
  padding: 0;

  background: $color-transparent;
  border: none;
  cursor: pointer;
}

/*
 * Keyframes
 */

@keyframes disableBreakpointAnimation {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
