
/* ======================================
   $First-screen
   ====================================== */

.no-webp .first-screen,
.no-js .first-screen {
  &--tech {
    background-image: url("../img/bg/bg-first-screen--tech.jpg");

    @include retina {
      background-image: url("../img/bg/bg-first-screen--tech@2x.jpg");
    }
  }

  &--contacts {
    background-image: url("../img/bg/bg-first-screen--contacts.jpg");

    @include retina {
      background-image: url("../img/bg/bg-first-screen--contacts@2x.jpg");
    }
  }

  &--projects {
    background-image: url("../img/bg/bg-first-screen--projects.jpg");

    @include retina {
      background-image: url("../img/bg/bg-first-screen--projects@2x.jpg");
    }
  }

  &--services {
    background-color: rgba(13, 30, 43, 0.6);
    background-image: url("../img/bg/bg-first-screen--services.jpg");
    background-blend-mode: darken;

    @include retina {
      background-image: url("../img/bg/bg-first-screen--services2x.jpg");
    }
  }

  &--about {
    background-color: rgba(13, 30, 43, 0.6);
    background-image: url("../img/bg/bg-first-screen--about.jpg");
    background-blend-mode: darken;

    @include retina {
      background-image: url("../img/bg/bg-first-screen--about@2x.jpg");
    }
  }

  &--thankyou {
    background-color: rgba(13, 30, 43, 0.6);
    background-image: url("../img/bg/bg-first-screen--main.webp");
    background-blend-mode: darken;

    @include retina {
      background-image: url("../img/bg/bg-first-screen--main@2x.webp");
    }
  }

  &--team {
    background-color: rgba(13, 30, 43, 0.6);
    background-image: url("../img/bg/bg-first-screen--team.jpg");
    background-blend-mode: darken;

    @include retina {
      background-image: url("../img/bg/bg-first-screen--team@2x.jpg");
    }
  }

  /* $Services
     ====================================== */

  &--construction {
    background-color: rgba(13, 30, 43, 0.6);
    background-image: url("../img/bg/bg-fs--construction.jpg");
    background-blend-mode: darken;

    @include retina {
      background-image: url("../img/bg/bg-fs--construction@2x.jpg");
    }
  }

  /* $Projects
     ====================================== */

  &--scandica {
    background-color: rgba(13, 30, 43, 0.2);
    background-image: url("../img/catalog/scandica/scandica1-xxl.jpg");
    background-blend-mode: darken;

    @include retina {
      background-image: url("../img/catalog/scandica/scandica1-xxl@2x.jpg");
    }
  }
}

.webp .first-screen {
  &--tech {
    background-image: url("../img/bg/bg-first-screen--tech.webp");

    @include retina {
      background-image: url("../img/bg/bg-first-screen--tech@2x.webp");
    }
  }

  &--contacts {
    background-image: url("../img/bg/bg-first-screen--contacts.webp");

    @include retina {
      background-image: url("../img/bg/bg-first-screen--contacts@2x.webp");
    }
  }

  &--projects {
    background-image: url("../img/bg/bg-first-screen--projects.webp");

    @include retina {
      background-image: url("../img/bg/bg-first-screen--projects@2x.webp");
    }
  }

  &--services {
    background-color: rgba(13, 30, 43, 0.6);
    background-image: url("../img/bg/bg-first-screen--services.webp");
    background-blend-mode: darken;

    @include retina {
      background-image: url("../img/bg/bg-first-screen--services2x.webp");
    }
  }

  &--about {
    background-color: rgba(13, 30, 43, 0.6);
    background-image: url("../img/bg/bg-first-screen--about.webp");
    background-blend-mode: darken;

    @include retina {
      background-image: url("../img/bg/bg-first-screen--about@2x.webp");
    }
  }

  &--thankyou {
    background-color: rgba(13, 30, 43, 0.6);
    background-image: url("../img/bg/bg-first-screen--main.webp");
    background-blend-mode: darken;

    @include retina {
      background-image: url("../img/bg/bg-first-screen--main@2x.webp");
    }
  }

  &--team {
    background-color: rgba(13, 30, 43, 0.6);
    background-image: url("../img/bg/bg-first-screen--team.webp");
    background-blend-mode: darken;

    @include retina {
      background-image: url("../img/bg/bg-first-screen--team@2x.webp");
    }
  }

  /* $Services
     ====================================== */

  &--construction {
    background-color: rgba(13, 30, 43, 0.6);
    background-image: url("../img/bg/bg-fs--construction.webp");
    background-blend-mode: darken;

    @include retina {
      background-image: url("../img/bg/bg-fs--construction@2x.webp");
    }
  }

  /* $Projects
     ====================================== */

  &--scandica {
    background-color: rgba(13, 30, 43, 0.2);
    background-image: url("../img/catalog/scandica/scandica1-xxl.webp");
    background-blend-mode: darken;

    @include retina {
      background-image: url("../img/catalog/scandica/scandica1-xxl@2x.webp");
    }
  }
}

/* ======================================
   $We-do
   ====================================== */

.no-webp .we-do__item,
.no-js .we-do__item {
  &--bg-first {
    background-image: url("../img/bg/works-item-1.jpg");

    @include retina {
      background-image: url("../img/bg/works-item-1@2x.jpg");
    }
  }

  &--bg-second {
    background-image: url("../img/bg/works-item-2.jpg");

    @include retina {
      background-image: url("../img/bg/works-item-2@2x.jpg");
    }
  }

  &--bg-third {
    background-image: url("../img/bg/works-item-3.jpg");

    @include retina {
      background-image: url("../img/bg/works-item-3@2x.jpg");
    }
  }
}

.webp .we-do__item {
  &--bg-first {
    background-image: url("../img/bg/works-item-1.webp");

    @include retina {
      background-image: url("../img/bg/works-item-1@2x.webp");
    }
  }

  &--bg-second {
    background-image: url("../img/bg/works-item-2.webp");

    @include retina {
      background-image: url("../img/bg/works-item-2@2x.webp");
    }
  }

  &--bg-third {
    background-image: url("../img/bg/works-item-3.webp");

    @include retina {
      background-image: url("../img/bg/works-item-3@2x.webp");
    }
  }
}
