@@if (context.href) {
<a href="@@href"
  class="
    btn
    @@if (context.mod) {btn--@@mod}
    @@if (context.bemElement) {@@bemElement}"
  @@if (context.modal) {data-modal="@@modal"}
  @@if(context.download) {download}>
  @@text
  <span><svg><use xlink:href="/img/sprite_auto.svg#arrows"></use></svg></span>
</a>
} @@if (!context.href) {
<button
  class="
    btn
    @@if (context.mod) {btn--@@mod}
    @@if (context.bemElement) {@@bemElement}"
  @@if (context.modal) {data-modal="@@modal"}
  type="button">
  @@text
  <span><svg><use xlink:href="/img/sprite_auto.svg#arrows"></use></svg></span>
</button>
}
