<!-- item -->
<div class="intro-item">
   <div class="intro-item__icon">
      <svg>
         <use xlink:href="/img/sprite_auto.svg#intro-icon-1"></use>
      </svg>
   </div>
   <div class="intro-item__title">11 лет в отрасли</div>
   <div class="intro-item__subtitle">Строим дома в Москве</div>
</div>
<!-- item -->
<div class="intro-item">
   <div class="intro-item__icon">
      <svg>
         <use xlink:href="/img/sprite_auto.svg#intro-icon-2"></use>
      </svg>
   </div>
   <div class="intro-item__title">Контроль качества</div>
   <div class="intro-item__subtitle">Независимый технадзор</div>
</div>
<!-- item -->
<div class="intro-item">
   <div class="intro-item__icon">
      <svg>
         <use xlink:href="/img/sprite_auto.svg#intro-icon-3"></use>
      </svg>
   </div>
   <div class="intro-item__title">Гарантия 15 лет</div>
   <div class="intro-item__subtitle">Установленная в договоре</div>
</div>
<!-- item -->
<div class="intro-item">
   <div class="intro-item__icon">
      <svg>
         <use xlink:href="/img/sprite_auto.svg#intro-icon-4"></use>
      </svg>
   </div>
   <div class="intro-item__title">Поэтапная оплата</div>
   <div class="intro-item__subtitle">Прозрачная смета</div>
</div>
