.menu {
   display: none;
   position: relative;
   margin-bottom: 20px;
   span {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 4;
      width: 30px;
      height: 2px;
      background-color: $white;
      transition: .6s;
      &:nth-child(2) {
         top: 7px;
      }
      &:nth-child(3) {
         top: 14px;
      }
   }
   @media ( max-width: 1100px ) {
      display: block;
   }
   &--active {
      span {
         transform: rotate(45deg);
         top: 7px;
         &:nth-child(2) {
            display: none;
         }
         &:nth-child(3) {
            transform: rotate(-45deg);
            top: 7px;
         }
      }
   }
}

