<div class="reviews-panel">
  <div class="container">
    <div class="reviews-panel__inner">
      <div class="reviews-panel__icon">
        <svg>
          <use xlink:href="/img/sprite_auto.svg#reviews-slider-icon-3"></use>
        </svg>
      </div>
      <div class="reviews-panel__content">
        <div class="reviews-panel__title">Вы можете увидеть наши дома собственными глазами и пообщаться с их владельцами
        </div>
        @@include('../../btn/btn.html', {
        "text": "Записаться на&nbsp;просмотр",
        "mod": "blue",
        "modal": "registration-for-viewing"
        })
      </div>
    </div>
  </div>
</div>
