.reviews-panel {
   padding-top: 44px;
   &__inner {
      display: flex;
      align-items: center;
      background-color: #f9df8f;

      width: 100%;
      @media ( max-width: 576px ) {
         flex-direction: column;
         align-items: center;
      }
   }
   &__icon {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      max-width: 71px;
      height: 167px;

      background-color: #f6ce52;
      svg {
         width: 29px;
         height: 24px;
         fill: $secondary-color;
      }
      @media ( max-width: 576px ) {
         max-width: 100%;
         height: 50px;
         margin-bottom: 15px;
      }
   }
   &__title {
      font-family: $font-400;
      font-weight: 400;
      font-size: 2.5rem;
      line-height: 2.9rem;
      color: $secondary-color;
      max-width: 625px;

      padding-left: 62px;
      padding-right: 10px;
      @media ( max-width: 991px ) {
         font-size: 2rem;
         line-height: 2.4rem;

         padding-left: 30px;
      }
      @media ( max-width: 576px ) {
         font-size: 1.8rem;
         line-height: 2.4rem;
         margin-bottom: 20px;
         padding-left: 0;
      }
   }
   &__btn {
      font-family: $font-500;
      font-weight: 500;
      font-size: 1.3rem;
      color: #f7f7f7;
      cursor: pointer;
      text-transform: uppercase;

      height: 55px;
      background-color: $secondary-color;
      box-shadow: 0px 15px 34px 0 rgba(12, 30, 44, 0.2);

      display: flex;
      align-items: center;

      padding-left: 71px;
      width: 100%;
      max-width: 390px;

      transition: .2s;
      margin-left: auto;
      svg {
         width: 12px;
         height: 10px;
         fill: #f0d276;
         transition: .2s;
      }
      span {
         display: flex;
         justify-content: center;
         align-items: center;
         background-color: #153248;
         height: 55px;
         margin: 0;
         margin-left: auto;
         padding-left: 34px;
         padding-right: 31px;
         transition: .2s;
      }
      &:hover {
         background-color: #153248;
         span {
            background-color: $secondary-color;
         }
         svg {
            fill:  #fcf7e6;
         }
      }
      @media ( max-width: 991px ) {
         padding-left: 20px;
      }
      @media ( max-width: 576px ) {
         padding-left: 20px;
         height: 48px;
         margin-bottom: 15px;
         margin-left: 0;
         span {
            height: 48px;
            padding-left: 24px;
            padding-right: 21px;
         }
      }
   }
   &__content {
      display: flex;
      align-items: center;

      width: 100%;
      @media ( max-width: 576px ) {
         flex-direction: column;
         padding: 0 15px;
      }
   }
}