<div class="reviews-panel">
   <div class="container">
      <div class="reviews-panel__inner">
         <div class="reviews-panel__icon">
            <svg>
               <use xlink:href="#reviews-slider-icon-3"></use>
            </svg>
         </div>
         <div class="reviews-panel__content">
            <div class="reviews-panel__title">Вы можете увидеть наши дома собственными глазами и пообщаться с их владельцами</div>
            <button class="reviews-panel__btn">
               ЗАПИСАТЬСЯ НА ПРОСМОТР
               <span>
                  <svg>
                     <use xlink:href="#arrows"></use>
                  </svg>
               </span>
            </button>
         </div>
      </div>
   </div>
</div>
