.person {
  display: flex;
  align-items: flex-start;

  @include viewport--md {
    display: none;
  }

  &__name-wrap {
    padding-top: 150px;
    flex: none;
    text-align: right;
  }

  &__name {
    font-weight: 700;
    font-size: 16.7px;
    color: #153248;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      height: 2px;
      width: 17px;
      right: 0;
      top: -22px;
      background-color: #0c1e2c;
    }
  }

  &__sub-name {
    color: #999999;
  }
}
