.person {
  display: flex;
  align-items: flex-start;

  @media (max-width: 992px - 0.02) {
    display: none;
  }

  &__name-wrap {
    padding-top: 150px;
    flex: none;
    text-align: right;

    @media (max-width: 1280px - 0.02) {
      padding-top: 100px;
    }
  }

  &__name {
    font-weight: 700;
    font-size: 16.7px;
    color: #153248;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      height: 2px;
      width: 17px;
      right: 0;
      top: -22px;
      background-color: #0c1e2c;
    }
  }

  &__sub-name {
    color: #999999;
  }

  &__foto-wrap {
    @media (max-width: 1280px - 0.02) {
      width: 590px;
      left: 50px;
    }

    @media (max-width: 1152px - 0.02) {
      width: 440px;
      left: 30px;
    }
  }
}
