<!-- item -->
<div class="features-item">
   <div class="features-item__icon">
      <svg>
         <use xlink:href="/img/sprite_auto.svg#features-icon-1"></use>
      </svg>
   </div>
   <div class="features-item__title">ВНИМАНИЕ К ДЕТАЛЯМ</div>
   <span>Какие у вас хобби? Кем работаете? Как любите отдыхать? Чем увлекаются ваши дети? Команда архитекторов стремится узнать каждую деталь вашего образа жизни, чтобы спроектировать дом, в котором каждый м2 будет дарить комфорт</span>
</div>
<!-- item -->
<div class="features-item">
   <div class="features-item__icon">
      <svg>
         <use xlink:href="/img/sprite_auto.svg#features-icon-2"></use>
      </svg>
   </div>
   <div class="features-item__title">АБСОЛЮТНЫЙ КОМФОРТ</div>
   <span>Проектируем дома, в которых не возникнет вопросов: «Где разместить друзей?», «Куда складывать игрушки?», «Где будет спать любимый питомец?» Благодаря многолетнему опыту мы знаем, на что обратить внимание, чтобы продумать всё до мелочей. Мелочей, из которых и складывается гармония в доме.</span>
</div>
<!-- item -->
<div class="features-item">
   <div class="features-item__icon">
      <svg>
         <use xlink:href="/img/sprite_auto.svg#features-icon-3"></use>
      </svg>
   </div>
   <div class="features-item__title">СОВРЕМЕННЫЕ ТЕХНОЛОГИИ</div>
   <span>При проектировании инженерных систем учитываем соответствующие нормы и правила, обеспечивая надежность и безопасность эксплуатации. При реализации инженерного проекта ориентируемся на будущий дизайн помещений. Используем современные технологии, в том числе системы «Умного дома».</span>
</div>
<!-- item -->
<div class="features-item">
   <div class="features-item__icon">
      <svg>
         <use xlink:href="/img/sprite_auto.svg#features-icon-4"></use>
      </svg>
   </div>
   <div class="features-item__title">ИНДИВИДУАЛЬНОСТЬ</div>
   <span>Благодаря дизайнерам Mansio дом станет отражением вашего характера и стиля жизни. Словно отпечатки пальцев, он будет олицетворять именно вас, ваш стиль, ваше настроение. Вы уникальны, и мы перенесем эту уникальность в ваш проект.</span>
</div>
