<section class="project-benefits">
  <div class="container container--xxl">
  @@include('../../headline/headline.html', {
  "headline": "Что входит в&nbsp;стоимость?"
  })
  </div>
  <div class="container">
    <div class="tabs">
      <ul class="project-benefits__tabs-list  tabs__list  nav nav-tabs" id="projectBenefitsNavTabsList" role="tablist">
        <li class="tabs__list-item  project-benefits__tab-wrap" role="presentation">
          <button class="tabs__btn  active project-benefits__tab icon icon--foundation" id="foundationTab" type="button" role="tab" aria-controls="foundation"
            aria-selected="true" data-bs-toggle="tab" data-bs-target="#foundation">Фундамент</button>
        </li>
        <li class="tabs__list-item  project-benefits__tab-wrap" role="presentation">
          <button class="tabs__btn  project-benefits__tab  icon icon--wall-big" id="wallkitTab" type="button" role="tab" aria-controls="wallkit" aria-selected="false"
            data-bs-toggle="tab" data-bs-target="#wallkit">Стеновой комплект</button>
        </li>
        <li class="tabs__list-item  project-benefits__tab-wrap" role="presentation">
          <button class="tabs__btn  project-benefits__tab  icon icon--roof" id="roofTab" type="button" role="tab" aria-controls="roof" aria-selected="false"
            data-bs-toggle="tab" data-bs-target="#roof">Кровля</button>
        </li>
        <li class="tabs__list-item  project-benefits__tab-wrap" role="presentation">
          <button class="tabs__btn  project-benefits__tab  icon icon--window" id="winAndDoorsTab" type="button" role="tab" aria-controls="winAndDoors" aria-selected="false"
            data-bs-toggle="tab" data-bs-target="#winAndDoors">Окна и двери</button>
        </li>
        <li class="tabs__list-item  project-benefits__tab-wrap" role="presentation">
          <button class="tabs__btn  project-benefits__tab  icon icon--measurement" id="constructionSupportTab" type="button" role="tab" aria-controls="constructionSupport"
            aria-selected="false" data-bs-toggle="tab" data-bs-target="#constructionSupport">Сопровождение строительства</button>
        </li>
      </ul>

      <div class="project-benefits__content">

        <section class="tabs__pane active" id="foundation" role="tabpanel" aria-labelledby="foundationTab">
          <h3 class="visually-hidden">Фундамент</h3>
          <div class="project-benefits__section">
            <ol>
              <li>Рабочий проект КД кровли</li>
              <li>Стропила сухие</li>
              <li>Гидро-ветрозащитная мембрана Tyvek</li>
              <li>Комплектующие, фурнитура</li>
              <li>Трубчатая система снегозадержания</li>
              <li>Доставка</li>
              <li>Приемка инженером технического надзора</li>
              <li>Металлочерепица Grandline с полимерным покрытием Satin</li>
              <li>Утепление по чердачному перекрытию 200 мм, Paroc eXtra</li>
              <li>Пароизоляционная пленка Delta Reflex</li>
              <li>Водосточная система Aquasystem</li>
              <li>Подшивная доска для свесов кровли</li>
              <li>Сборка</li>
            </ol>
          </div>
        </section>

        <section class="tabs__pane" id="wallkit" role="tabpanel" aria-labelledby="wallkitTab">
          <h3 class="visually-hidden">Фундамент</h3>
          <div class="project-benefits__section">
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
          </div>
        </section>

      </div>
    </div>
  </div>
</section>
