.works {
   &__title {
      font-family: $font-700;
      font-size: 3.3rem;
      color: $secondary-color;
      text-transform: uppercase;

      padding: 35px 0;
      padding-left: 100px;

      border-left: 1px solid  #0c1e2c;
      @media ( max-width: 576px ) {
         font-size: 2.2rem;
         line-height: 2.6rem;
         padding-left: 0;
         border-left: none;
      }
   }
   &__header {
      padding-top: 100px;
      padding-bottom: 45px;
      background-color: $white;
      @media ( max-width: 576px ) {
         padding: 0;
      }
   }
   &__content {
      display: flex;
      flex-wrap: wrap;
   }
}