<article class="action-call">
  <div class="action-call__aside">
    <svg class="action-call__logo"" width="103" height="16">
      <use xlink:href="#logo"></use>
    </svg>
  </div>
  <div class="action-call__content">
    <header class="action-call__name-wrap">
      <div class="action-call__name">@@name</div>
      <div class="action-call__sub-name">@@employee</div>
    </header>
    <div class="action-call__foto">
      <img src="img/foto/contacts-foto-1.png" width="654" alt="##">
    </div>
    <!-- contacts-form -->
    @@include('contacts/contacts-form/template.html', {
      "title": "Запишитесь на&nbsp;встречу с&nbsp;архитектором Mansio Group"
    })
    <!-- contacts-form end -->
  </div>
</article>
