@@include('action-call/action-call.html', {
  "external": '<script>!function(a,m,o,c,r,m){a[o+c]=a[o+c]||{setMeta:function(p){this.params=(this.params||[]).concat([p])}},a[o+r]=a[o+r]||function(f){a[o+r].f=(a[o+r].f||[]).concat([f])},a[o+r]({id:"819571",hash:"0b301e1247988671cf19100677cc6f33",locale:"ru"})}(window,0,"amo_forms_","params","load");</script><script id="amoforms_script_819571" async="async" charset="utf-8" src="https://forms.amocrm.ru/forms/assets/js/amoforms.js?1629706056"></script>',
  "dsc": "Наш архитектор выслушает ваши пожелания, даст рекомендации и&nbsp;ответит на&nbsp;все вопросы",
  "person": {
    "name": "Иванов Александр",
    "employee": "Главный архитектор",
    "imgSrc": "img/content/manager",
    "imgWidth": "651",
  },
  "title": "Запишитесь на&nbsp;встречу<br>с&nbsp;архитектором Mansio Group",
  "btnText": "Обсудить проект с&nbsp;архитектором"
})
