<div class="connection">
  <div class="container">
    <div class="connection__inner">
      <div class="connection__header">
        <div class="connection__title">Свяжитесь с нами</div>
        <div class="connection__desc">Если вам нужна помощь, свяжитесь с нами: отправьте электронное письмо или
          позвоните к нам. И вы получите ответ в ближайшее время.</div>
      </div>
      <address class="connection__content">
        <div class="connection__item">
          <div class="connection__icon">
            <svg>
              <use xlink:href="/img/sprite_auto.svg#connection-icon-1"></use>
            </svg>
          </div>
          <div class="connection__subtitle">Телефон</div>
          <p>Офис:<a href="tel:+74951820242">+7 (495) 182-02-42</a></p>

          <div class="contacts__link  social-network  social-network--bg-white">

            <a href="https://wa.me/79175432263?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5!%20"
              target="_blank">
              <svg>
                <use xlink:href="/img/sprite_auto.svg#whatsapp"></use>
              </svg>
            </a>

            <a href="https://t.me/mansio_group" target="_blank">
              <svg>
                <use xlink:href="/img/sprite_auto.svg#telegram"></use>
              </svg>
            </a>

            <a href="https://www.instagram.com/mansio_group.ru/" target="_blank">
              <svg>
                <use xlink:href="/img/sprite_auto.svg#instagram"></use>
              </svg>
            </a>

            <a href="https://business.facebook.com/Mansio-Строительство-домов-103324025394478/" target="_blank">
              <svg>
                <use xlink:href="/img/sprite_auto.svg#facebook"></use>
              </svg>
            </a>

            <a class="contacts__vk" href="https://vk.com/mansiogroupru" target="_blank">
              <svg>
                <use xlink:href="/img/sprite_auto.svg#vk"></use>
              </svg>
            </a>

            <a class="contacts__youtube" href="https://www.youtube.com/channel/UCwk0EXMdvmPlQdPBP9AX9MQ" target="_blank">
              <svg>
                <use xlink:href="/img/sprite_auto.svg#youtube"></use>
              </svg>
            </a>

            <a href="https://vm.tiktok.com/ZSeSrcbk3/" target="_blank">
              <svg>
                <use xlink:href="/img/sprite_auto.svg#tik-tok"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="connection__item">
          <div class="connection__icon">
            <svg>
              <use xlink:href="/img/sprite_auto.svg#connection-icon-2"></use>
            </svg>
          </div>
          <div class="connection__subtitle">Адрес</div>
          <p class="connection__address">143082, Россия, Рублево-Успенское шоссе 1 км, д 6, офис 512</p>
        </div>
        <div class="connection__item">
          <div class="connection__icon">
            <svg>
              <use xlink:href="/img/sprite_auto.svg#connection-icon-3"></use>
            </svg>
          </div>
          <div class="connection__subtitle">Почта</div>
          <p><a href="mailto:manager@mansio.ru">info@mansio-group.ru</a></p>
        </div>
      </address>
    </div>
  </div>
</div>
