<section class="product" data-scroll-section>
  <div class="container">
    <div class="product__inner">
      <div class="product__title">В вашем доме будет <span>тепло, комфортно и безопасно</span></div>
      <nav class="product__nav">
        <button class="product__btn product__btn--active" data-product="tab1">Керамический кирпич</button>
        <button class="product__btn" data-product="tab2">Газобетонный блок</button>
        <button class="product__btn" data-product="tab3">Кирпич</button>
        <button class="product__btn" data-product="tab4">Монолитные конструкции</button>
      </nav>
      <!-- product content -->
      <div class="product__content product__content--active" data-product="tab1">
        <!-- text -->
        <div class="product__text">
          <span>Компания MANSIO GROUP строит дома из&nbsp;теплой керамики Porotherm производителя
            Wienerberger&nbsp;AG.</span>
          <span>Wienerberger AG&nbsp;крупнейший производитель кирпича и&nbsp;черепицы в&nbsp;Европе.
            Porotherm&nbsp;&mdash; это современное исполнение &laquo;красного кирпича&raquo;.</span>
          <span>Крупноформатные мелкоячеистые поризованные блоки производят из&nbsp;глины. Кирпичные блоки Porotherm
            отличаются повышенной прочностью и&nbsp;высокими тепло и&nbsp;звукоизоляционными свойствами.</span>
          @@include('../btn/btn.html', {
          "text": "Подробнее о&nbsp;материалах и&nbsp;технологиях",
          "mod": "blue"
          })
        </div>
        <!-- foto -->
        <div class="product__foto">
          <picture>
            <source
              srcset="img/content/tab-item.webp 1x, img/content/tab-item@2x.webp 2x, img/content/tab-item@3x.webp 3x"
              type="image/webp">
            <img src="img/content/tab-item.jpg" width="464" alt="Укладка керрамического кирпича"
              srcset="img/content/tab-item@2x.jpg 2x, img/content/tab-item@3x.jpg 3x">
          </picture>
        </div>
        <!-- items -->
        <div class="product__wrap">
          <div class="product__item">
            <div class="product__subtitle">Зимой тепло, летом свежо</div>
            <span>За счет пустот, которые образуют воздушную подушку.</span>
          </div>
          <div class="product__item">
            <div class="product__subtitle">Стены «дышат»</div>
            <span>Керамоблоки изготовлены из глины - пористого природного материала, который не препятствует
              воздухообмену.</span>
          </div>
          <div class="product__item">
            <div class="product__subtitle">Стойкость</div>
            <span>Срок службы дома более 100 лет по заключению ЦНИИСК им. В.А. Кучеренко.</span>
          </div>
          <div class="product__item">
            <div class="product__subtitle">Любая архитектура</div>
            <span>За счет малого веса и малой нагрузки на фундамент..</span>
          </div>
          <div class="product__item">
            <div class="product__subtitle">Прочность</div>
            <span>Материал не задержвивает влагу, поэтому не теряет несущей способности ни через 10, ни через 50, ни
              через 100 лет.</span>
          </div>
        </div>
      </div>
      <!-- product content -->
      <div class="product__content" data-product="tab2">
        <!-- text -->
        <div class="product__text">
          <span>Компания MANSIO GROUP отдает предпочтение Газобетонным блокам автоклавного твердения YTONG®</span>
          <span>Они производятся из натуральных компонентов, и во всем мире признаны экологически чистым, нетоксичным
            строительным материалом.</span>
          <span>В Германии блоки YTONG® являются обладателем сертификата IBU немецкого Института Строительства и
            окружающей среды, а также международного знака NaturePlus.</span>
          <a class="product__link" href="##">
            Подробнее о&nbsp;материалах и&nbsp;технологиях
            <span>
              <svg>
                <use xlink:href="/img/sprite_auto.svg#arrows"></use>
              </svg>
            </span>
          </a>
        </div>
        <!-- foto -->
        <div class="product__foto">
          <picture>
            <source
              srcset="img/content/tab-item.webp 1x, img/content/tab-item@2x.webp 2x, img/content/tab-item@3x.webp 3x"
              type="image/webp">
            <img src="img/content/tab-item.jpg" width="464" alt="Укладка керрамического кирпича"
              srcset="img/content/tab-item@2x.jpg 2x, img/content/tab-item@3x.jpg 3x">
          </picture>
        </div>
        <!-- items -->
        <div class="product__wrap">
          <!-- TODO: список определений dl dt -->
          <div class="product__item">
            <div class="product__subtitle">Энергоэфективность</div>
            <span>Вы экономите на отоплении зимой, а летом сохраняется приятная прохлада</span>
          </div>
          <div class="product__item">
            <div class="product__subtitle">Огнестойкость</div>
            <span>В составе газобетона только минеральные компоненты. Он не горит и не выделяет вредные для здоровья
              вещества</span>
          </div>
          <div class="product__item">
            <div class="product__subtitle">Высокая прочность</div>
            <span>Высокая несущая способность благодаря автоклавной обработке</span>
          </div>
          <div class="product__item">
            <div class="product__subtitle">Экологичность</div>
            <span>В процессе производства автоклавного газобетона YTONG участвуют исключительно натуральные компоненты:
              кварцевый песок, известь, вода и цемент</span>
          </div>
        </div>
      </div>
      <!-- product content -->
      <div class="product__content" data-product="tab3">
        <!-- text -->
        <div class="product__text">
          <span>Специалисты компании MANSIO GROUP проектируют и&nbsp;строят дома из&nbsp;классического кирпича.</span>
          <span>Классический кирпич не&nbsp;выходит из&nbsp;моды. На&nbsp;каменные дома всегда есть спрос.</span>
          <span>Главное&nbsp;&mdash; выбрать правильный кирпич и&nbsp;помнить про минусы кирпичного дома приразработке
            проекта.</span>
          <span>Чтобы разобраться в&nbsp;нюансах, позвоните нашему архитектору или приезжайте к&nbsp;нам
            в&nbsp;офис</span>
          <a class="product__link" href="##">
            Подробнее о&nbsp;материалах и&nbsp;технологиях
            <span>
              <svg>
                <use xlink:href="/img/sprite_auto.svg#arrows"></use>
              </svg>
            </span>
          </a>
        </div>
        <!-- foto -->
        <div class="product__foto">
          <picture>
            <source
              srcset="img/content/tab-item.webp 1x, img/content/tab-item@2x.webp 2x, img/content/tab-item@3x.webp 3x"
              type="image/webp">
            <img src="img/content/tab-item.jpg" width="464" alt="Укладка керрамического кирпича"
              srcset="img/content/tab-item@2x.jpg 2x, img/content/tab-item@3x.jpg 3x">
          </picture>
        </div>
        <!-- items -->
        <div class="product__wrap">
          <div class="product__item">
            <div class="product__subtitle">Морозостойкость и&nbsp;прочность</div>
            <span>Благодаря низкой пористости материала, он&nbsp;прослужит 100+ лет даже в&nbsp;услових низких
              температур</span>
          </div>
          <div class="product__item">
            <div class="product__subtitle">Экономия на&nbsp;отоплении</div>
            <span>Кирпич полнотелый имеет высокое тепловое сопротивление. Это позволяет снизить теплопотери через стены
              и&nbsp;снизить затраты на&nbsp;отопление дома</span>
          </div>
        </div>
      </div>
      <!-- product content -->
      <div class="product__content" data-product="tab4">
        <!-- text -->
        <div class="product__text">
          <span>Монолитная технология строительства позволяет реализовать самые смелые и&nbsp;сложные архитектурные
            решения (арки, эркеры, колонны, овальные и&nbsp;многоугольные детали конструкции).</span>
          <span>В&nbsp;нашей стране монолитная технология в&nbsp;частном строительстве только набирает
            популярность.</span>
          <span>Некоторые проекты просто невозможно реализовать без использования данной технологии</span>
          <a class="product__link" href="##">
            Подробнее о&nbsp;материалах и&nbsp;технологиях
            <span>
              <svg>
                <use xlink:href="/img/sprite_auto.svg#arrows"></use>
              </svg>
            </span>
          </a>
        </div>
        <!-- foto -->
        <div class="product__foto">
          <picture>
            <source
              srcset="img/content/tab-item.webp 1x, img/content/tab-item@2x.webp 2x, img/content/tab-item@3x.webp 3x"
              type="image/webp">
            <img src="img/content/tab-item.jpg" width="464" alt="Укладка керрамического кирпича"
              srcset="img/content/tab-item@2x.jpg 2x, img/content/tab-item@3x.jpg 3x">
          </picture>
        </div>
        <!-- items -->
        <div class="product__wrap">
          <div class="product__item">
            <div class="product__subtitle">Высокая прочность, сейсмоустойчивость</div>
          </div>
          <div class="product__item">
            <div class="product__subtitle">Пожаробезопасность</div>
            <span>Вся электрическая разводка прокладываются внутри опалубки перед заливкой</span>
          </div>
          <div class="product__item">
            <div class="product__subtitle">Долговечность</div>
            <span>Дом прослужит 150 лет +</span>
          </div>
          <div class="product__item">
            <div class="product__subtitle">Универсальность</div>
            <span>Любая, без ограничений внутренняя отделка</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
