<div class="product">
   <div class="container">
      <div class="product__inner">
         <div class="product__title">В вашем доме будет <span>тепло, комфортно и безопасно</span></div>
         <nav class="product__nav">
            <button class="product__btn product__btn--active" data-product="tab1">КЕРАМИЧЕСКИЙ ТЁПЛЫЙ КИРПИЧ</button>
            <button class="product__btn" data-product="tab2">Газобетонный блок</button>
            <button class="product__btn" data-product="tab3">КИРПИЧ</button>
            <button class="product__btn" data-product="tab4">МОНОЛИТНЫЕ КОНСТРУКЦИИ</button>
         </nav>
         <!-- product content -->
         <div class="product__content product__content--active" data-product="tab1">
            <!-- text -->
            <div class="product__text">
               <span>Компания MANSIO GROUP строит дома из теплой керамики Porotherm производителя Wienerberger AG.</span>
               <span>Wienerberger AG крупнейший производитель кирпича и черепицы в Европе. Porotherm – это современное исполнение «красного кирпича».</span>
               <span>Крупноформатные мелкоячеистые поризованные блоки производят из глины. Кирпичные блоки Porotherm отличаются повышенной прочностью и высокими тепло и звукоизоляционными свойствами.</span>
               <a class="product__link" href="##">
                  Подробнее <br> о материалах <br> и технологиях
                  <span>
                     <svg>
                        <use xlink:href="#arrows"></use>
                     </svg>
                  </span>
               </a>
            </div>
            <!-- foto -->
            <div class="product__foto">
               <img src="img/content/tab-item.jpg" width="464" alt="Укладка керрамического кирпича" srcset="img/content/tab-item@2x.jpg 2x, img/content/tab-item@3x.jpg 3x">
            </div>
            <!-- items -->
            <div class="product__wrap">
               <div class="product__item">
                  <div class="product__subtitle">Зимой тепло, летом свежо</div>
                  <span>За счет пустот, которые образуют воздушную подушку.</span>
               </div>
               <div class="product__item">
                  <div class="product__subtitle">Стены «дышат»</div>
                  <span>Керамоблоки изготовлены из глины - пористого природного материала, который не препятствует воздухообмену.</span>
               </div>
               <div class="product__item">
                  <div class="product__subtitle">Стойкость</div>
                  <span>Срок службы дома более 100 лет по заключению ЦНИИСК им. В.А. Кучеренко.</span>
               </div>
               <div class="product__item">
                  <div class="product__subtitle">Любая архитектура</div>
                  <span>За счет малого веса и малой нагрузки на фундамент..</span>
               </div>
               <div class="product__item">
                  <div class="product__subtitle">Прочность</div>
                  <span>Материал не задержвивает влагу, поэтому не теряет несущей способности ни через 10, ни через 50, ни через 100 лет.</span>
               </div>
            </div>
         </div>
         <!-- product content -->
         <div class="product__content" data-product="tab2">
            <!-- text -->
            <div class="product__text">
               <span>2Компания MANSIO GROUP строит дома из теплой керамики Porotherm производителя Wienerberger AG.</span>
               <span>Wienerberger AG крупнейший производитель кирпича и черепицы в Европе. Porotherm – это современное исполнение «красного кирпича».</span>
               <span>Крупноформатные мелкоячеистые поризованные блоки производят из глины. Кирпичные блоки Porotherm отличаются повышенной прочностью и высокими тепло и звукоизоляционными свойствами.</span>
               <a class="product__link" href="##">
                  Подробнее <br> о материалах <br> и технологиях
                  <span>
                     <svg>
                        <use xlink:href="#arrows"></use>
                     </svg>
                  </span>
               </a>
            </div>
            <!-- foto -->
            <div class="product__foto">
              <img src="img/content/tab-item.jpg" width="464" alt="Укладка керрамического кирпича" srcset="img/content/tab-item@2x.jpg 2x, img/content/tab-item@3x.jpg 3x">
            </div>
            <!-- items -->
            <div class="product__wrap">
               <div class="product__item">
                  <div class="product__subtitle">Зимой тепло, летом свежо</div>
                  <span>За счет пустот, которые образуют воздушную подушку.</span>
               </div>
               <div class="product__item">
                  <div class="product__subtitle">Стены «дышат»</div>
                  <span>Керамоблоки изготовлены из глины - пористого природного материала, который не препятствует воздухообмену.</span>
               </div>
               <div class="product__item">
                  <div class="product__subtitle">Стойкость</div>
                  <span>Срок службы дома более 100 лет по заключению ЦНИИСК им. В.А. Кучеренко.</span>
               </div>
               <div class="product__item">
                  <div class="product__subtitle">Любая архитектура</div>
                  <span>За счет малого веса и малой нагрузки на фундамент..</span>
               </div>
               <div class="product__item">
                  <div class="product__subtitle">Прочность</div>
                  <span>Материал не задержвивает влагу, поэтому не теряет несущей способности ни через 10, ни через 50, ни через 100 лет.</span>
               </div>
            </div>
         </div>
         <!-- product content -->
         <div class="product__content" data-product="tab3">
            <!-- text -->
            <div class="product__text">
               <span>3Компания MANSIO GROUP строит дома из теплой керамики Porotherm производителя Wienerberger AG.</span>
               <span>Wienerberger AG крупнейший производитель кирпича и черепицы в Европе. Porotherm – это современное исполнение «красного кирпича».</span>
               <span>Крупноформатные мелкоячеистые поризованные блоки производят из глины. Кирпичные блоки Porotherm отличаются повышенной прочностью и высокими тепло и звукоизоляционными свойствами.</span>
               <a class="product__link" href="##">
                  Подробнее <br> о материалах <br> и технологиях
                  <span>
                     <svg>
                        <use xlink:href="#arrows"></use>
                     </svg>
                  </span>
               </a>
            </div>
            <!-- foto -->
            <div class="product__foto">
              <img src="img/content/tab-item.jpg" width="464" alt="Укладка керрамического кирпича" srcset="img/content/tab-item@2x.jpg 2x, img/content/tab-item@3x.jpg 3x">
            </div>
            <!-- items -->
            <div class="product__wrap">
               <div class="product__item">
                  <div class="product__subtitle">Зимой тепло, летом свежо</div>
                  <span>За счет пустот, которые образуют воздушную подушку.</span>
               </div>
               <div class="product__item">
                  <div class="product__subtitle">Стены «дышат»</div>
                  <span>Керамоблоки изготовлены из глины - пористого природного материала, который не препятствует воздухообмену.</span>
               </div>
               <div class="product__item">
                  <div class="product__subtitle">Стойкость</div>
                  <span>Срок службы дома более 100 лет по заключению ЦНИИСК им. В.А. Кучеренко.</span>
               </div>
               <div class="product__item">
                  <div class="product__subtitle">Любая архитектура</div>
                  <span>За счет малого веса и малой нагрузки на фундамент..</span>
               </div>
               <div class="product__item">
                  <div class="product__subtitle">Прочность</div>
                  <span>Материал не задержвивает влагу, поэтому не теряет несущей способности ни через 10, ни через 50, ни через 100 лет.</span>
               </div>
            </div>
         </div>
         <!-- product content -->
         <div class="product__content" data-product="tab4">
            <!-- text -->
            <div class="product__text">
               <span>4Компания MANSIO GROUP строит дома из теплой керамики Porotherm производителя Wienerberger AG.</span>
               <span>Wienerberger AG крупнейший производитель кирпича и черепицы в Европе. Porotherm – это современное исполнение «красного кирпича».</span>
               <span>Крупноформатные мелкоячеистые поризованные блоки производят из глины. Кирпичные блоки Porotherm отличаются повышенной прочностью и высокими тепло и звукоизоляционными свойствами.</span>
               <a class="product__link" href="##">
                  Подробнее <br> о материалах <br> и технологиях
                  <span>
                     <svg>
                        <use xlink:href="#arrows"></use>
                     </svg>
                  </span>
               </a>
            </div>
            <!-- foto -->
            <div class="product__foto">
              <img src="img/content/tab-item.jpg" width="464" alt="Укладка керрамического кирпича" srcset="img/content/tab-item@2x.jpg 2x, img/content/tab-item@3x.jpg 3x">
            </div>
            <!-- items -->
            <div class="product__wrap">
               <div class="product__item">
                  <div class="product__subtitle">Зимой тепло, летом свежо</div>
                  <span>За счет пустот, которые образуют воздушную подушку.</span>
               </div>
               <div class="product__item">
                  <div class="product__subtitle">Стены «дышат»</div>
                  <span>Керамоблоки изготовлены из глины - пористого природного материала, который не препятствует воздухообмену.</span>
               </div>
               <div class="product__item">
                  <div class="product__subtitle">Стойкость</div>
                  <span>Срок службы дома более 100 лет по заключению ЦНИИСК им. В.А. Кучеренко.</span>
               </div>
               <div class="product__item">
                  <div class="product__subtitle">Любая архитектура</div>
                  <span>За счет малого веса и малой нагрузки на фундамент..</span>
               </div>
               <div class="product__item">
                  <div class="product__subtitle">Прочность</div>
                  <span>Материал не задержвивает влагу, поэтому не теряет несущей способности ни через 10, ни через 50, ни через 100 лет.</span>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
