<!-- item -->
<div class="features-item">
   <div class="features-item__icon">
      <svg>
         <use xlink:href="#features-icon-1"></use>
      </svg>
   </div>
   <div class="features-item__title">Внимание к деталям</div>
   <span>Учитываем десятки особенностей образа жизни каждого члена семьи. Для нас важно какое у вас хобби, кем работаете, как любите отдыхать, чем увлекаются ваши дети. В проектировании все детали важны!</span>
</div>
<!-- item -->
<div class="features-item">
   <div class="features-item__icon">
      <svg>
         <use xlink:href="#features-icon-2"></use>
      </svg>
   </div>
   <div class="features-item__title">Практичность</div>
   <span>Вам будет удобно даже в мелочах и не возникнут вопросы: «Куда складывать игрушки?», «Где можно разместить друзей, родителей?», «Где будет спать любимый питомец?», «У какого окна будет приятно выпить кружку любимого кофе?». Из простых мелочей и состоит гармония.</span>
</div>
<!-- item -->
<div class="features-item">
   <div class="features-item__icon">
      <svg>
         <use xlink:href="#features-icon-3"></use>
      </svg>
   </div>
   <div class="features-item__title">Взгляд в будущее</div>
   <span>Проектирование инженерных систем - один из важнейших этапов, на котором необходимо учесть большое кол-во норм и правил, а так же будущий дизайн помещений. Используем современные технологии и материалы, в том числе проектируем системы «Умного дома».</span>
</div>
<!-- item -->
<div class="features-item">
   <div class="features-item__icon">
      <svg>
         <use xlink:href="#features-icon-4"></use>
      </svg>
   </div>
   <div class="features-item__title">Индивидуальный стиль</div>
   <span>Дом, спроектированный архитекторами «MANSIO GROUP», будет таким же уникальным, как отпечатки пальцев. Дом будет отражать ваш характер и образ жизни. Место, где гармонично все.</span>
</div>
