<div class="connection">
   <div class="container">
      <div class="connection__inner">
         <div class="connection__header">
            <div class="connection__title">СВяжитесь с нами</div>
            <div class="connection__desc">Если вам нужна помощь, свяжитесь с нами: отправьте электронное письмо или позвоните к нам. И вы получите ответ в ближайшее время.</div>
         </div>
         <div class="connection__content">
            <div class="connection__item">
               <div class="connection__icon">
                  <svg>
                     <use xlink:href="#connection-icon-1"></use>
                  </svg>
               </div>
               <div class="connection__subtitle">Телефон</div>
               <span>Офис-менеджер:<a href="tel:88">+7 (495) 854-63-22</a></span>
               <span>Cтроит-ый отдел:<a href="tel:88">+7 (495) 965-47-88</a></span>
               <span>Офис-менеджер:<a href="tel:88">+7 (495) 854-63-22</a></span>
            </div>
            <div class="connection__item">
               <div class="connection__icon">
                  <svg>
                     <use xlink:href="#connection-icon-2"></use>
                  </svg>
               </div>
               <div class="connection__subtitle">Адрес</div>
               <div class="connection__address">424000, Россия, г. Москва Рублево-Успенское шоссе 1 км, ТДЦ «1 КМ», офис 512</div>
            </div>
            <div class="connection__item">
               <div class="connection__icon">
                  <svg>
                     <use xlink:href="#connection-icon-3"></use>
                  </svg>
               </div>
               <div class="connection__subtitle">Почта</div>
               <span>Менеджер: <span>manager@mansio.ru</span></span>
               <span>Дизайнер: <span>design@mansio.ru</span></span>
               <span>Проектировщик: <span>project@mansio.ru</span></span>
            </div>
         </div>
      </div>
   </div>
</div>
