.about-item {
  // padding: 60px;
  margin-bottom: 105px;
  font-size: 16.7px;
  line-height: 24px;
  color: $grey;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include container;
    max-width: 1920px;
  }

  &__text {
    // width: 100%;
    width: 680px;
    // max-width: 44%;
    margin-right: 100px;
    margin-left: 140px;
  }

  &__picture {
    width: 885px;
    // max-width: 46%;
    flex: none;

    img {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__title,
  h2 {
    color: $secondary-color;
    font-size: 29.2px;
    line-height: 37.5px;
    font-weight: bold;
    margin-bottom: 45px;
    text-transform: uppercase;
  }

  &__lead {
    font-weight: bold;
    color: #0d1e2b;
  }

  &__btn {
    margin-top: 60px;
  }

  p {
    margin-bottom: 20px;
  }

  li {
    h3 {
      display: inline-block;
    }
  }

  blockquote {
    margin: 0;
    font-style: italic;
    padding-left: 28px;
    border-left: 2px solid $primary-color;
    margin-bottom: 40px;
  }

  &--brand {
    color: $secondary-color;
    background-color:#f8f8f8;
    padding-bottom: 110px;

    .about-item__text {
      margin-left: 70px;
      padding-top: 130px;
    }

    .about-item__picture {
      padding-top: 130px;
    }

    &__title,
    h2 {
      font-family: $logo-font;
      font-size: $font-size-h2;
      line-height: 1;
      font-weight: normal;
    }
  }

  &--invert {

    .about-item__inner {
      flex-direction: row-reverse;
    }

    .about-item__text {
      margin-left: 100px;
      margin-right: 140px;
    }
  }

  &--blue {
    padding-top: 160px;
    padding-bottom: 160px;
    margin-bottom: 0;
    background-color: #0d1e2b;
    color: $color-default-white;

    &__title,
    h2 {
      color: inherit;
    }
  }
}
