.about-item {
  // padding: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 105px;
  font-size: 16.7px;
  line-height: 24px;
  color: $grey;

  &__text {
    width: 680px;
    // max-width: 44%;
    margin-right: 100px;
  }

  &__picture {
    width: 885px;
    // max-width: 46%;
    flex: none;

    img {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__title,
  h2 {
    color: $secondary-color;
    font-size: 29.2px;
    line-height: 37.5px;
    font-weight: bold;
    margin-bottom: 45px;
    text-transform: uppercase;
  }

  &__lead {
    font-weight: bold;
    color: #0d1e2b;
  }

  &__btn {
    margin-top: 60px;
  }

  p {
    margin-bottom: 20px;
  }

  li {
    h3 {
      display: inline-block;
    }
  }

  blockquote {
    margin: 0;
    font-style: italic;
    padding-left: 28px;
    border-left: 2px solid $primary-color;
    margin-bottom: 40px;
  }

  &--invert {
    flex-direction: row-reverse;

    .about-item__text {
      margin-right: 0;
    }

    .about-item__picture {
      margin-right: 100px;
    }
  }

  &--blue {
    padding-top: 160px;
    padding-bottom: 160px;
    background-color: #0d1e2b;
    color: $color-default-white;

    &__title,
    h2 {
      color: inherit;
    }
  }
}
