<section class="about-item  about-item--brand">
  <div class="about-item__inner">
    @@include('../brand-flag/brand-flag.html')
    <div class="about-item__text">
      <h2 class="about-item__title">Mansio Group</h2>
      <p><b>MANSIO GROUP&nbsp;&mdash; это современная, технологичная компания, которая проектирует и&nbsp;строит под
          ключ
          каменные дома для частного и&nbsp;коммерческого использования.</b></p>
      <p>История компании началась с&nbsp;небольшой строительной монтажной фирмы, которая выполняла государственные
        контракты.</p>
      <p>Параллельно по&nbsp;просьбе наших друзей и&nbsp;партнеров мы&nbsp;строили им&nbsp;частные дома, нас начали
        рекомендовать соседям, друзьям друзей.</p>
      <p>Спрос рождает предложение, поэтому было принято решение о&nbsp;выделении в&nbsp;отдельную структуру
        и&nbsp;развитии строительной проектной компании, которая получила название MANSIO GROUP.</p>
    </div>
    <picture class="about-item__picture">
      <source srcset="img/content/about-content-1.webp" type="image/webp">
      <img src="img/content/about-content-1.jpg" width="885" alt="Небольшая строительная монтажная фирма">
    </picture>
  </div>
</section>
<section class="about-item  about-item--invert">
  <div class="about-item__inner">
    <div class="about-item__text">
      <h2 class="about-item__title">Mansio сегодня</h2>
      <p class="about-teim__lead">MANSIO GROUP сегодня предлагает своими клиентам окружить их&nbsp;заботой, вниманием
        и&nbsp;уверенностью в&nbsp;том, что процесс проектирования и&nbsp;строительства дома может быть беззаботным
        и&nbsp;легким.</p>
      <p>Компания имеет полный штат собственных квалифицированных специалистов: архитекторы, конструкторы, инженеры,
        дизайнеры, служба инженеров технического надзора, собственные бригады строителей, которые позволяют выполнить
        работы
        от&nbsp;проектирования до&nbsp;ландшафтного дизайна и&nbsp;комплектации мебелью.</p>
      <p>Все усилия нашей команды нацелены на&nbsp;то, что&nbsp;бы процесс проектирования, строитель ства
        и&nbsp;сотрудничества в&nbsp;целом прошел комфортно. Мы&nbsp;хотим развеять стереотип, что строительство
        дома&nbsp;&mdash; это сложная и&nbsp;нервная процедура для заказчика.</p>
    </div>
    <picture class="about-item__picture">
      <source srcset="img/content/about-content-2.webp" type="image/webp">
      <img src="img/content/about-content-2.jpg" width="885" alt="Небольшая строительная монтажная фирма">
    </picture>
  </div>
</section>
<section class="about-item">
  <div class="about-item__inner">
    <div class="about-item__text">
      <h2 class="about-item__title">Наш постулат</h2>
      <ul>
        <li>
          <h3>Архитектура&nbsp;&mdash;</h3> внимание к&nbsp;деталям, применяем современные архитектурные
          и&nbsp;дизайнерские
          решения.
        </li>
        <li>
          <h3>Строительство&nbsp;&mdash;</h3> соблюдение технологии, все строительные и&nbsp;монтажные процессы
          соответствуют строительным нормам и&nbsp;правилам
        </li>
        <li>
          <h3>Контроль качества&nbsp;&mdash;</h3> тройной контроль, бригадир (или прораб), инженерпроекта, инженер
          технадзора, так&nbsp;же иногда на&nbsp;объекты приезжают представители заводов производителей строительных
          материалов.
        </li>
      </ul>
    </div>
    <picture class="about-item__picture">
      <source srcset="img/content/about-content-3.webp" type="image/webp">
      <img src="img/content/about-content-3.jpg" width="885" alt="Небольшая строительная монтажная фирма">
    </picture>
  </div>
</section>
@@include('../row-alert/row-alert.html')
<section class="about-item">
  <div class="about-item__inner">
    <div class="about-item__text">
      <h2 class="about-item__title">Как происходит процесс сотрудничества с&nbsp;нами</h2>
      <p>Процесс взаимодействия с&nbsp;нашей компанией мы&nbsp;сделали максимально комфортным для вас.</p>
      <p>На&nbsp;каждом этапе вас будет сопровождать персональный менеджер, который контролирует работу всех
        специалистов
        и&nbsp;всегда в&nbsp;курсе, что происходит на&nbsp;вашем объекте.</p>
      <p>Отчеты, вопросы, важную информацию по&nbsp;ходу строительства менеджер отправляет вам на&nbsp;почту или
        в&nbsp;любой удобный мессенджер.</p>
    </div>
    <picture class="about-item__picture">
      <source srcset="img/content/about-content-4.webp" type="image/webp">
      <img src="img/content/about-content-4.jpg" width="885" alt="Небольшая строительная монтажная фирма">
    </picture>
  </div>
</section>
@@include('../row-form/row-form.html', {
  "title": "Мы&nbsp;готовы к&nbsp;сотрудничеству!",
  "subtitle": "Обратитесь к&nbsp;нашим специалистам за&nbsp;консультацией"
})
<section class="about-item about-item--blue">
  <div class="about-item__inner">
    <div class="about-item__text">
      <h2 class="about-item__title">Наша команда</h2>
      <blockquote>&laquo;Сила команды&nbsp;&mdash; каждый ее&nbsp;участник.<br>
        Сила каждого участника&nbsp;&mdash; команда&raquo;</blockquote>
      <p>Наша команда&nbsp;&mdash; активные, инициативные профессионалы своего дела. Каждый участник команды нацелен
        на&nbsp;идельный результат.</p>
      <p>Архитекторы, дизайнеры, инженеры и&nbsp;строители MANSIO с&nbsp;опытом работы не&nbsp;менее 10&nbsp;лет
        и&nbsp;профильным образованием.</p>
      <p>Все специалисты работаю совместно, учитывают задачи друг друга и&nbsp;активно обсуждают все вопросы.</p>
      <p>Вы&nbsp;получаете дом, в&nbsp;котором каждая деталь на&nbsp;своем месте и&nbsp;дополняет другую.</p>
      @@include('../btn/btn.html', {
        "text": "Подробнее о сотрудниках",
        "bemElement": "about-item__btn"
      })
    </div>
    <picture class="about-item__picture">
      <source srcset="img/content/team.webp" type="image/webp">
      <img src="img/content/team.jpg" width="885" alt="Небольшая строительная монтажная фирма">
    </picture>
</section>
