<div class="about">
   <div class="container">
      <div class="about__inner">
         <div class="about__nav">
            <button class="about__btn" type="button" data-modal="discuss">
               Обсудить проект
               <span>
                  <svg>
                     <use xlink:href="#arrows"></use>
                  </svg>
               </span>
            </button>
            <span>или</span>
            <a class="about__link" href="##">
               <svg>
                  <use xlink:href="#pdf"></use>
               </svg>
               Скачать презентацию
            </a>
         </div>
         <div class="about__content">
            <div class="about__foto">
              <picture>
                <source srcset="img/content/service-img.webp 1x" type="image/webp">
                <img src="img/content/service-img.png" width="523" alt="Фотография нашего аккаунт-менеджера">
              </picture>
            </div>
            <div class="about__text">
               <div class="about__title">Mansio СЕРВИС</div>
               <span>За каждым нашим клиентом закрепляется <span>персональный менеджер</span> клиентской службы «Mansio Group», который контролирует процесс проектирования, строительства и работу всех специалистов.</span>
               <span>Важная информация о ходе реализации проекта будет представлена в личном кабинете клиента или в любом удобном мессенджере.</span>
               <span>На протяжении всего проекта 24/7 у вас будет возможность отслеживать этап проектирования или строительства, а также иметь доступ к:</span>
               <ul class="about__list">
                  <li>
                     <svg>
                        <use xlink:href="#arrow-right"></use>
                     </svg>
                     Юридической и проектной документации;
                  </li>
                  <li>
                     <svg>
                        <use xlink:href="#arrow-right"></use>
                     </svg>
                     Отчетам по этапам;
                  </li>
                  <li>
                     <svg>
                        <use xlink:href="#arrow-right"></use>
                     </svg>
                     Финансовому графику оплат;
                  </li>
                  <li>
                     <svg>
                        <use xlink:href="#arrow-right"></use>
                     </svg>
                     Срокам исполнения работ;
                  </li>
                  <li>
                     <svg>
                        <use xlink:href="#arrow-right"></use>
                     </svg>
                     Видеонаблюдению в режиме реального времени.
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>
