<li class="card @@if (context.bemMod) {card--@@bemMod} @@if (context.bemElement) {@@bemElement}">
  <a class="card__link-wrapper" @@if (context.href) {href="@@href" } @@if (context.modal) {data-modal="@@modal" }>
    <div class="card__content">
      <dl class="card__headline">
        <dt class="card__title">@@title</dt>
        <dd class="card__subtitle">@@subtitle</dd>
      </dl>
    </div>
    <picture class="card__picture">
      <source srcset="@@imgSrc.webp 1x" type="image/webp" width="@@imgW">
      <img src="@@imgSrc.jpg" alt="@@title" width="@@imgW">
    </picture>
  </a>
</li>
