<div class="contacts-text">

  <div class="contacts-text__col contacts-text__col--left">
    <p class="contacts-text__p  contacts-text__p--title">Мы хотим окружить вас заботой и вниманием в таком непростом деле, как проектирование
      и строительство дома.</p>
    <p class="contacts-text__p">«MANSIO GROUP» одна из немногих компаний, которая имеет полный штат специалистов, выполняет все работы от
      проектирования до ландшафтного дизайна и комплектации мебелью под ключ.</p>
    <p class="contacts-text__p">Практическая польза комплексного подхода на самом деле очень высока, как для заказчика, так и для строительной
      компании.</p>
  </div>

  <div class="contacts-text__col contacts-text__col--center">
    <picture class="contacts-text__picture">
      <source srcset="img/content/after-contacts.webp 1x,
                img/content/after-contacts@2x.webp 2x,
                img/content/after-contacts@3x.webp 3x" type="image/webp">
      <img src="img/content/after-contacts.jpg" width="349" alt="Фотография офиса" srcset="img/content/after-contacts@2x.jpg 2x,
                img/content/after-contacts@3x.jpg 3x" loading="lazy">
    </picture>
  </div>

  <div class="contacts-text__col contacts-text__col--right">

    <svg class="contacts-text__svg-logo" width="283" height="43">
      <use xlink:href="/img/sprite_auto.svg#logo"></use>
    </svg>

    <p class="contacts-text__p">В нашей компании архитекторы, инженеры, дизайнеры работают над проектом совместно,
      чтобы сразу учитывать нужды и задачи друг друга.</p>
    <p class="contacts-text__p  contacts-text__p--white">Заказчик получает одно гармоничное целое, а не набор
      разных элементов, которые не согласованны между собой.</p>

    <p class="contacts-text__p  contacts-text__p--name">
      <span class="contacts-text__name">Алимов Дмитрий</span>
      <span>Генеральный директор Mansio</span>
    </p>

  </div>

</div>
