.intro-project {
   height: 750px;
   padding-top: 288px;
   background-attachment: fixed;
   background-repeat: no-repeat;
   @media ( max-width: 991px ) {
      background-size: cover;
      height: auto;
      padding-top: 152px;
      padding-bottom: 120px;
   }
   @media ( max-width: 576px ) {
      padding-top: 102px;
   }
   &__title {
      font-family: $font-700;
      font-weight: 700;
      font-size: 3.7rem;
      color: $white;
      margin-bottom: 101px;
      @media ( max-width: 576px ) {
         font-size: 2.2rem;

         margin-bottom: 60px;
      }
   }
}
