<section class="tech">
  <h2 class="visually-hidden">Статьи о технологиях Mansio group</h2>
  <ul class="tech__list">
    <li class="tech__item">
      <article class="article-card">
        <h3 class="article-card__title">Строительство из&nbsp;газоблока</h3>
        <picture class="article-card__picture">
          <img src="img/tech-card.jpg" alt="Строительство из газоблока">
        </picture>
        @@include("../btn/btn.html", {
          "href": "technology-construction-from-gasblock.html",
          "mod": "white",
          "bemElement": "article-card__btn",
          "text": "Открыть страницу"
        })
      </article>
    </li>
    <li class="tech__item">
      <article class="article-card">
        <h3 class="article-card__title">Строительство из&nbsp;кирпича</h3>
        <picture class="article-card__picture">
          <img src="img/tech-card-2.jpg" alt="Строительство из кирпича">
        </picture>
        @@include("../btn/btn.html", {
          "href": "technology-brick-construction.html",
          "mod": "white",
          "bemElement": "article-card__btn",
          "text": "Открыть страницу"
        })
      </article>
    </li>
    <li class="tech__item">
      <article class="article-card">
        <h3 class="article-card__title">Строительство монолитное</h3>
        <picture class="article-card__picture">
          <img src="img/tech-card-3.jpg" alt="Строительство монолитное">
        </picture>
        @@include("../btn/btn.html", {
          "href": "technology-monolithic-construction.html",
          "mod": "white",
          "bemElement": "article-card__btn",
          "text": "Открыть страницу"
        })
      </article>
    </li>
    <li class="tech__item">
      <article class="article-card">
        <h3 class="article-card__title">Коммерческое строительство</h3>
        <picture class="article-card__picture">
          <img src="img/tech-card-4.jpg" alt="Коммерческое строительство">
        </picture>
        @@include("../btn/btn.html", {
          "href": "technology-commercial-construction.html",
          "mod": "white",
          "bemElement": "article-card__btn",
          "text": "Открыть страницу"
        })
      </article>
    </li>
    <li class="tech__item">
      <article class="article-card">
        <h3 class="article-card__title">Все о&nbsp;проектах и&nbsp;архитектуре</h3>
        <picture class="article-card__picture">
          <img src="img/tech-card-5.jpg" alt="Все о проектах и архитектуре">
        </picture>
        @@include("../btn/btn.html", {
          "href": "#out-of-data",
          "mod": "white",
          "bemElement": "article-card__btn",
          "text": "Открыть страницу"
        })
      </article>
    </li>
    <li class="tech__item">
      <article class="article-card">
        <h3 class="article-card__title">Описание этапов строительства</h3>
        <picture class="article-card__picture">
          <img src="img/tech-card-6.jpg" alt="Описание этапов строительства">
        </picture>
        @@include("../btn/btn.html", {
          "href": "technology-stages-of-construction.html",
          "mod": "white",
          "bemElement": "article-card__btn",
          "text": "Открыть страницу"
        })
      </article>
    </li>
  </ul>
</section>
