<section class="product" >

  <div class="container">
    @@include('../headline/headline.html', {
    "headline": "В&nbsp;вашем доме будет <span>тепло, комфортно и&nbsp;безопасно</span>"
    })
  </div>
  <div class="container container--xxl">
    <div class="product__inner">
      <nav class="product__nav">
        <button class="product__btn product__btn--active" data-product="tab1" type="button">Керамический кирпич</button>
        <button class="product__btn" data-product="tab2" type="button">Газобетонный блок</button>
        <button class="product__btn" data-product="tab3" type="button">Кирпич</button>
        <button class="product__btn" data-product="tab4" type="button">Монолитные конструкции</button>
      </nav>

      <div class="product__content product__content--active" data-product="tab1">

        <div class="product__text">
          <p>Строим дома из теплой керамики Porotherm крупнейшего мирового производителя Wienerberger AG.</p>
          <p>Porotherm — это современное исполнение «красного кирпича». Мы подробно рассказываем о его преимуществах на своем YouTube-канале.</p>
          <p>Кирпичные блоки Porotherm отличаются повышенной прочностью и высокими тепло- и звукоизоляционными свойствами. На данный момент это один из лучших материалов для строительства дома на рынке.</p>
          @@include('../btn/btn.html', {
            "href": "/technology-brick-construction.html",
          "text": "Подробнее о&nbsp;материалах и&nbsp;технологиях",
          "mod": "blue"
          })
        </div>

        <picture class="product__picture">
          <source
            srcset="img/content/Теплая-керамика.webp 1x,
                    img/content/Теплая-керамика@2x.webp 2x,
                    img/content/Теплая-керамика@3x.webp 3x"
                    type="image/webp">
          <img src="img/content/Теплая-керамика.jpg" width="464" alt="Тёплая керамика Mansio Group"
            srcset="img/content/Теплая-керамика@2x.jpg 2x, img/content/Теплая-керамика@3x.jpg 3x" loading="lazy">
        </picture>

        <dl class="product__description-list">
          <div class="product__list-item">
            <dt class="product__subtitle">Зимой тепло, летом свежо</dt>
            <dd>За счет пустот, которые образуют воздушную подушку.</dd>
          </div>
          <div class="product__list-item">
            <dt class="product__subtitle">Стены «дышат»</dt>
            <dd>Керамоблоки изготовлены из глины - пористого природного материала, который не препятствует
              воздухообмену.</dd>
          </div>
          <div class="product__list-item">
            <dt class="product__subtitle">Стойкость</dt>
            <dd>Срок службы дома более 100 лет по заключению ЦНИИСК им. В.А. Кучеренко.</dd>
          </div>
          <div class="product__list-item">
            <dt class="product__subtitle">Любая архитектура</dt>
            <dd>За счет малого веса и малой нагрузки на фундамент.</dd>
          </div>
          <div class="product__list-item">
            <dt class="product__subtitle">Прочность</dt>
            <dd>Материал не задерживает влагу, поэтому не теряет несущей способности ни через 10, ни через 50, ни
              через 100 лет.</dd>
          </div>
        </dl>

      </div>

      <div class="product__content" data-product="tab2">

        <div class="product__text">
          <p>Отдаем предпочтение газобетонным блокам автоклавного твердения YTONG®, также используем в строительстве газоблок других проверенных производителей.</p>
          <p>Газоблок произвоится из натуральных компонентов и во всем мире признан экологически чистым, нетоксичным строительным материалом.</p>
          <p>В Германии блоки YTONG® являются обладателем сертификата IBU немецкого Института Строительства и окружающей среды, а также международного знака NaturePlus.</p>
          @@include('../btn/btn.html', {
            "href": "/technology-construction-from-gasblock.html",
          "text": "Подробнее о&nbsp;материалах и&nbsp;технологиях",
          "mod": "blue"
          })
        </div>

        <picture class="product__picture">
          <source
            srcset="img/content/Газобетон.webp 1x, img/content/Газобетон@2x.webp 2x, img/content/Газобетон@3x.webp 3x"
            type="image/webp">
          <img src="img/content/Газобетон.jpg" width="464" alt="Укладка керрамического кирпича"
            srcset="img/content/Газобетон@2x.jpg 2x, img/content/Газобетон@3x.jpg 3x" loading="lazy">
        </picture>

        <dl class="product__description-list">
          <div class="product__list-item">
            <dt class="product__subtitle">Энергоэффективность</dt>
            <dd>Вы экономите на отоплении зимой, а летом сохраняется приятная прохлада</dd>
          </div>
          <div class="product__list-item">
            <dt class="product__subtitle">Огнестойкость</dt>
            <dd>В составе газобетона только минеральные компоненты. Он не горит и не выделяет вредные для здоровья
              вещества</dd>
          </div>
          <div class="product__list-item">
            <dt class="product__subtitle">Высокая прочность</dt>
            <dd>Высокая несущая способность благодаря автоклавной обработке</dd>
          </div>
          <div class="product__list-item">
            <dt class="product__subtitle">Экологичность</dt>
            <dd>Газобетонный блок YTONG состоит исключительно из натуральных компонентов, что обеспечивает полезный микроклимат внутри дома</dd>
          </div>
        </dl>

      </div>

      <div class="product__content" data-product="tab3">

        <div class="product__text">
          <p>Проектируем и строим дома из классического кирпича.</p>
          <p>Классический кирпич – материал, давно завоевавший доверие потребителей.
Однако, при строительстве дома классическим кирпичом важно учитывать много технических аспектов.</p>
          <p>Подробнее о нюансах строительства из классического кирпича мы расскажем на встрече в MANSIO GROUP.</p>
          @@include('../btn/btn.html', {
            "href": "/technology-brick-construction.html",
          "text": "Подробнее о&nbsp;материалах и&nbsp;технологиях",
          "mod": "blue"
          })
        </div>

        <picture class="product__picture">
          <source
            srcset="img/content/Кирпич.webp 1x, img/content/Кирпич@2x.webp 2x, img/content/Кирпич@3x.webp 3x"
            type="image/webp">
          <img src="img/content/Кирпич.jpg" width="464" alt="Укладка керрамического кирпича"
            srcset="img/content/Кирпич@2x.jpg 2x, img/content/Кирпич@3x.jpg 3x" loading="lazy">
        </picture>

        <dl class="product__description-list">
          <div class="product__list-item">
            <dt class="product__subtitle">Экологичность</dt>
            <dd>При изготовлении кирпича используются экологически чистые материалы, что обеспечивает полезный микроклимат внутри дома</dd>
          </div>
          <div class="product__list-item">
            <dt class="product__subtitle">Морозостойкость и&nbsp;прочность</dt>
            <dd>Благодаря низкой пористости материала, он&nbsp;прослужит 100+ лет даже в&nbsp;услових низких
              температур</dd>
          </div>
          <div class="product__list-item">
            <dt class="product__subtitle">Огнеупорность</dt>
            <dd>Устойчивость к воздействию высоких температур. Даже в условиях попадания прямого пламени кирпичный дом не поддерживает процесс горения</dd>
          </div>
          <div class="product__list-item">
            <dt class="product__subtitle">Шумоизоляция</dt>
            <dd>Кирпичные стены обеспечивают высокий уровень звукоизоляции как внешних перекрытий, так и внутренних перегородок. Материал гасит практически все виды звуковой вибрации (воздушный, акустический, структурный шум).</dd>
          </div>
        </dl>

      </div>

      <div class="product__content" data-product="tab4">

        <div class="product__text">
          <p>Монолитная технология строительства дает возможность реализовать самые смелые и сложные архитектурные решения (арки, эркеры, колонны, овальные и многоугольные детали конструкции).</p>
          <p>Монолитное строительство позволяет возводить дома повышенной устойчивости, которые стойко перенесут сильные ураганы и землетрясения.</p>
          <p>Также <span class="logo-brand">MANSIO GROUP</span> проектирует и строит бункеры для частных лиц по монолитной технологии.</p>
          <p> В последние годы данная тенденция в частном строительстве набирает популярность.</p>
          @@include('../btn/btn.html', {
            "href": "/technology-monolithic-construction.html",
          "text": "Подробнее о&nbsp;материалах и&nbsp;технологиях",
          "mod": "blue"
          })
        </div>

        <picture class="product__picture">
          <source
            srcset="img/content/Монолитные-конструкции.webp 1x, img/content/Монолитные-конструкции@2x.webp 2x, img/content/Монолитные-конструкции@3x.webp 3x"
            type="image/webp">
          <img src="img/content/Монолитные-конструкции.jpg" width="464" alt="Укладка керрамического кирпича"
            srcset="img/content/Монолитные-конструкции@2x.jpg 2x, img/content/Монолитные-конструкции@3x.jpg 3x" loading="lazy">
        </picture>

        <dl class="product__description-list">
          <div class="product__list-item">
            <dt class="product__subtitle">Прочность и сейсмоустойчивость</dt>
            <dd>В сейсмически опасных зонах железобетонные опоры являются обязательным условием строительства, так как монолитный каркас способен выдержать большие нагрузки</dd>
          </div>
          <div class="product__list-item">
            <dt class="product__subtitle">Пожаробезопасность</dt>
            <dd>Электрическая разводка прокладывается внутри опалубки перед заливкой, что способствует повышению пожаробезопасности здания</dd>
          </div>
          <div class="product__list-item">
            <dt class="product__subtitle">Универсальность</dt>
            <dd>Монолитное строительство значительно упрощает работу проектировщиков и позволяет дизайнерам создавать интересные проекты интерьера и экстерьера</dd>
          </div>
          <div class="product__list-item">
            <dt class="product__subtitle">Долговечность</dt>
            <dd>Монолитный дом прослужит от 150 лет</dd>
          </div>
        </dl>

      </div>

    </div>
  </div>
</section>
