<div class="row-alert">
  <div class="row-alert__inner">
    <p style="margin-bottom: 0.7em;"><b>Наша компания готова выполнить услуги по&nbsp;отдельности, но&nbsp;мы&nbsp;<span
          style="text-decoration: underline;">настоятельно рекомендуем
          комплексный подход!</span></b></p>
    <p style="margin-bottom: 1em;">Практическая польза комплексного подхода выгодна в&nbsp;первую очередь Заказчику, наши специалисты: архитекторы,
      инженеры, дизайнеры, строители работают над проектом совместно, чтобы сразу учитывать нужды и&nbsp;задачи друг
      друга.</p>
    <p><b style="text-transform: uppercase;">Результат: </b> Заказчик получает одно гармонично целое,
      а&nbsp;не&nbsp;набор разных элементов, не&nbsp;согласованных между собой.</p>
  </div>
</div>
