<div class="contacts-text">
   <div class="contacts-text__content">
      <div class="contacts-text__title">Мы хотим окружить вас заботой и вниманием в таком непростом деле, как проектирование и строительство дома.</div>
      <span>«MANSIO GROUP» одна из немногих компаний, которая имеет полный штат специалистов, выполняет все работы от проектирования до ландшафтного дизайна и комплектации мебелью под ключ.</span>
      <span>Практическая польза комплексного подхода на самом деле очень высока, как для заказчика, так и для строительной компании.</span>
   </div>
   <div class="contacts-text__wrap">
      <div class="contacts-text__foto">
        <picture>
          <source srcset="img/content/after-contacts.webp 1x, img/content/after-contacts@2x.webp 2x, img/content/after-contacts@3x.webp 3x"
          type="image/webp" width="349">
          <img src="img/content/after-contacts.jpg"
               width="349"
               alt="Фотография офиса"
               srcset="img/content/after-contacts@2x.jpg 2x, img/content/after-contacts@3x.jpg 3x" loading="lazy">
      </div>
      <div class="contacts-text__about">
         <div class="contacts-text__logo">
            <svg>
               <use xlink:href="/img/sprite_auto.svg#logo"></use>
            </svg>
         </div>
         <div class="contacts-text__desc">В нашей компании архитекторы, инженеры, дизайнеры работают над проектом совместно, чтобы сразу учитывать нужды и задачи друг друга.</div>
         <div class="contacts-text__desc contacts-text__desc--white">Заказчик получает одно гармоничное целое, а не набор разных элементов, которые не согласованны между собой.</div>
         <div class="contacts-text__name">
            <div class="contacts-text__fio">Иванов Иван Иванович</div>
            <span>Директор Mansio</span>
         </div>
      </div>
   </div>
</div>
