.project-benefits {
  overflow: hidden;
  padding-bottom: 160px;

  @include viewport--lg {
    padding-bottom: 100px;
  }

  @include viewport--md {
    padding-bottom: 60px;
  }
}

.project-benefits__tabs-list {
  margin-bottom: 60px;

  @include viewport--md {
    margin-bottom: $gap;
  }

  @include viewport--sm {
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto;
  }
}

.project-benefits__tab-wrap {
  // @include viewport--sm {
  //   flex-shrink: 0;
  //   flex-grow: 1;
  // }
}

.project-benefits__tab {
  justify-content: stretch;
  background-color: $white;
  color: $secondary-color-desaturate;
  font-size: $font-size-h4;
  font-weight: 600;
  line-height: 1;
  text-transform: none;
  border: none;
  padding: 40px 20px 35px;
  transition: all $default-transition-settings;
  border-bottom: solid 5px $white;
  height: 100%;
  overflow: hidden;

  @include viewport--md {
    font-size: $font-size;
    padding-bottom: 35px;
  }


  &:hover,
  &:focus {
    color: $metalic-blue;
    background-color: $white;
    transform: scale(1.05);
  }

  &.active,
  &.active:hover,
  &.active:focus,
  &--active,
  &--active:hover,
  &--active:active {
    color: $metalic-blue;
    background-color: $white;
    border-bottom: solid 5px $metalic-blue;
    padding-bottom: 35px;
    animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
  }

  &.icon::before {
    margin-bottom: 25px;
    width: 53px;
    height: 53px;
    object-fit: contain;
  }
}

.project-benefits__section {
  ol,
  ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(max-content, 1fr));
    grid-template-rows: repeat(7, auto);
    grid-auto-flow: column;
    gap: 6px $gap;
    margin: 0;
    padding: 0;

    @include viewport--md {
      grid-auto-flow: row;
      gap: $gap;
      grid-template-columns: repeat(2, minmax(min-content, 1fr));
    }

    @include viewport--xs {
      grid-template-columns: auto;
    }
  }

  li {
    list-style-position: inside;
    padding: 20px 35px;
    padding-right: 30px;
    background-color: $white;
  }
}
