<div class="project">
  <!-- item 1 -->
  <div class="project__item">
    <div class="project__foto">
      <picture>
        <source srcset="img/foto/project-1.jpg" />
        <img src="img/foto/project-1.jpg" alt="##">
      </picture>
    </div>
    <div class="project__content">
      <div class="project__desc">Создаем красивый и функциональный дом в рамках вашего бюджета</div>
      <div class="project__title">Архитектурное проектирование</div>
      <div class="project__subtitle">При архитектурном проектировании мы продумываем:</div>
      <ul class="project__list">
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Размер и форму жилья;
        </li>
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Количество и расположение входных дверей;
        </li>
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Этажность строения;
        </li>
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Материал, из которого будет строиться дом;
        </li>
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Наличие котельной, пристроенного к дому гаража и других объектов;
        </li>
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Устройство санузлов: в многоэтажном коттедже иногда они располагаются на каждом этаже;
        </li>
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Количество и величину окон;
        </li>
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Наличие проходных комнат и др.
        </li>
      </ul>
      @@include('../btn/btn.html', {
      "text": "У&nbsp;меня уже есть проект",
      "modal": "already-have",
      "mod": "blue"
      })
    </div>
  </div>
  <!-- item 2 -->
  <div class="project__item project__item--right">
    <div class="project__content">
      <div class="project__title">Проектирование <br> инженерных коммуникаций</div>
      <ul class="project__list">
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Отопление и вентиляция
        </li>
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Водоснабжение и канализация
        </li>
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Электироснабжение
        </li>
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Слаботочные системы
        </li>
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          «Умный дом»
        </li>
      </ul>
    </div>
    <div class="project__foto project__foto--right">
      <picture>
        <source srcset="img/foto/project-2.jpg" />
        <img src="img/foto/project-2.jpg" alt="##">
      </picture>
    </div>
  </div>
  <!-- item 3 -->
  <div class="project__item">
    <div class="project__foto">
      <picture>
        <source srcset="img/foto/project-3.jpg" />
        <img src="img/foto/project-3.jpg" alt="##">
      </picture>
    </div>
    <div class="project__content">
      <div class="project__title">Строительство</div>
      <ul class="project__list">
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          После утверждения проекта строительство нового дома осуществляется силами собственных подразделений компании.
        </li>
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Тройной контроль качества: прораб, инженер, технадзор.
        </li>
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Учитываем СНИПы, ГОСТЫ, градостроительные нормы.
        </li>
      </ul>
    </div>
  </div>
  <!-- item 4 -->
  <div class="project__item project__item--right">
    <div class="project__content">
      <div class="project__title">ДИЗАЙН ИНТЕРЬЕРА</div>
      <div class="project__quote">Пройдитесь по своему дому ещё до начала ремонта и оцените, насколько вам комфортно?
      </div>
      <div class="project__subtitle">С помощью 3D-визуализации вы можете:</div>
      <ul class="project__list">
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Видеть все пространство вокруг себя;
        </li>
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Приближать и отдалять изображение;
        </li>
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Рассматривать пол, потолок, стены, мебель, цвета, стилистику.
        </li>
      </ul>
      <div class="project__feedback">
        <div class="project__icon">
          <svg>
            <use xlink:href="#project-icon-2"></use>
          </svg>
        </div>
        <span>После интервью заказчика с нашим дизайнером, мы формируем техническое задание и детальный сценарий
          эксплуатации каждого помещения.</span>
      </div>
    </div>
    <div class="project__foto project__foto--right">
      <picture>
        <source srcset="img/foto/project-4.jpg" />
        <img src="img/foto/project-4.jpg" alt="##">
      </picture>
    </div>
  </div>
  <!-- item 5 -->
  <div class="project__item">
    <div class="project__foto">
      <picture>
        <source srcset="img/foto/project-5.jpg" />
        <img src="img/foto/project-5.jpg" alt="##">
      </picture>
    </div>
    <div class="project__content">
      <div class="project__title">Отделочные работы</div>
      <ul class="project__list">
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Собственные мастера с большим опытом;
        </li>
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Качественные строительные материалы от производителей или официальных дилеров;
        </li>
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Отчет о проделанной работе в личном кабинете или мессенджере.
        </li>
      </ul>
    </div>
  </div>
  <!-- item 6 -->
  <div class="project__item project__item--right">
    <div class="project__content">
      <div class="project__title">Комплектация мебелью</div>
      <ul class="project__list">
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Скидка при комплектации объекта от производителя, как оптовый покупатель;
        </li>
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Экономия вашего времени на поездки и разговоры с поставщиками;
        </li>
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Отсутствие транспортных расходов;
        </li>
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Точное соответствие дизайн-проекту.
        </li>
      </ul>
    </div>
    <div class="project__foto project__foto--right">
      <picture>
        <source srcset="img/foto/project-6.jpg" />
        <img src="img/foto/project-6.jpg" alt="##">
      </picture>
    </div>
  </div>
  <!-- item 7 -->
  <div class="project__item">
    <div class="project__foto">
      <picture>
        <source srcset="img/foto/project-7.jpg" />
        <img src="img/foto/project-7.jpg" alt="##">
      </picture>
    </div>
    <div class="project__content">
      <div class="project__title">Ландшафтный дизайн</div>
      <div class="project__text">
        <span>Наша цель – создать для Заказчика комфортное и гармоничное пространство жизни, где участок, экстерьер и
          интерьер являются единым целым.</span>
        <span>При разработке ландшафтного дизайна учитываем архитектурный стиль дома, идеи дизайнера интерьеров,
          пожелания заказчика, индивидуальные особенности, например домашние питомцы, аллергия на растения.</span>
      </div>
    </div>
  </div>
  <!-- item 8 -->
  <div class="project__item project__item--right">
    <div class="project__content">
      <div class="project__title">Под ваш проект <br> создается проектная группа <br> из специалистов:</div>
      <ul class="project__list">
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Архитекторы;
        </li>
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Конструкторы;
        </li>
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Инженеры;
        </li>
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Дизайнеры;
        </li>
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Ландшафтные дизайнеры;
        </li>
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Комплектовщики.
        </li>
      </ul>
    </div>
    <div class="project__foto project__foto--right">
      <picture>
        <source srcset="img/foto/project-8.jpg" />
        <img src="img/foto/project-8.jpg" alt="##">
      </picture>
    </div>
  </div>
  <!-- item 9 -->
  <div class="project__item">
    <div class="project__foto">
      <picture>
        <source srcset="img/foto/project-9.jpg" />
        <img src="img/foto/project-9.jpg" alt="##">
      </picture>
    </div>
    <div class="project__content">
      <div class="project__desc">Для обсуждения деталей вашего проекта</div>
      <div class="project__title">Создаем общий чат <br> в удобном мессенджере</div>
      <div class="project__subtitle">В режиме реального времени вы сможете увидеть:</div>
      <ul class="project__list">
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Эскизы;
        </li>
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Наброски;
        </li>
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Технические решения;
        </li>
      </ul>
      <div class="project__feedback">
        <div class="project__icon">
          <svg>
            <use xlink:href="#project-icon-1"></use>
          </svg>
        </div>
        <span>Специалисты готовы ответить на любой ваш вопрос в режиме реального времени.</span>
      </div>
    </div>
  </div>
</div>
