.project-item {
   &__inner {
      display: flex;
      flex-wrap: wrap;
      padding: 6px;
   }
   &__content {
      display: flex;
      flex-direction: column;
      padding-top: 55px;
      height: 529px;
      padding-left: 55px;
      width: calc( 50% - 2px);
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 4px;
      @media ( max-width: 576px ) {
         padding-left: 30px;
         padding-top: 30px;
         height: 420px;
      }
      &:nth-child(odd) {
         margin-right: 2px;
      }
      &:nth-child(even) {
         margin-left: 2px;
      }
      &--panel {
         justify-content: flex-end;
         padding-left: 0;
         padding-top: 0;
         @media ( max-width: 576px ) {
            padding: 0;
            height: 520px;
         }
      }
      @media ( max-width: 768px ) {
         width: 100%;
      }
   }
   &__desc {
      font-family: $font-300;
      font-weight: 300;
      font-size: 1.2rem;
      color: $color-default-white;
      letter-spacing: 7px;
      margin-bottom: 26px;
      &--panel {
         color: #7c97aa;
         margin-bottom: 16px;
      }
      @media ( max-width: 576px ) {
         margin-bottom: 15px;
      }
   }
   &__wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding-right: 10px;
      padding-right: 40px;
      @media ( max-width: 1400px ) {
         padding-right: 0;
      }
      @media ( max-width: 576px ) {
         flex-direction: column;
         align-items: flex-start;
      }
   }
   &__title {
      font-family: $font-700;
      font-weight: 700;
      font-size: 2.9rem;
      color: $color-default-white;
      @media ( max-width: 576px ) {
         font-size: 2.4rem;
      }
   }
   &__panel {
      display: flex;
      justify-content: space-between;
      align-items: center;

      background-color: #0c1e2c;
      width: 100%;
      margin-top: auto;
      padding-left: 57px;
      padding-top: 37px;
      padding-bottom: 29px;
      @media ( max-width: 1400px ) {
         flex-direction: column;
         align-items: flex-start;
         padding-top: 20px;
         padding-left: 20px;
      }
   }
   &__name {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 294px;
      @media ( max-width: 1400px ) {
         width: 50%;
         max-width: 100%;
         margin-bottom: 20px;
      }
      @media ( max-width: 576px ) {
         max-width: 100%;
         width: 100%;
      }
   }
   &__list {
      display: flex;
      flex-direction: column;

      width: 100%;
      max-width: 240px;
      margin-left: 10px;
      @media ( max-width: 1400px ) {
         width: 50%;
         margin-left: 0;
         max-width: 100%;
         margin-bottom: 20px;
      }
      li {
         display: flex;
         align-items: center;

         margin-bottom: 10px;
         &:last-child {
            margin-bottom: 0;
         }
      }
      span {
         font-family: $font-300;
         font-weight: 300;
         font-size: 1.4rem;
         letter-spacing: 1.17px;
         @media ( max-width: 576px ) {
            font-size: 1.2rem;
         }
         &:first-child {
            color: $color-default-white;
            margin-right: 23px;
            width: 100%;
            max-width: 88px;
         }
         &:last-child {
            width: 100%;
            max-width: 160px;
            color: #7c97aa;
         }
      }
   }
   &__btn {
      font-family: $font-500;
      font-weight: 500;
      font-size: 1.3rem;
      font-weight: 500;
      color: $secondary-color;
      cursor: pointer;
      text-transform: uppercase;

      height: 53px;
      background-color: $primary-color;

      display: flex;
      align-items: center;

      padding-left: 53px;
      width: 100%;
      max-width: 270px;

      transition: .2s;
      svg {
         width: 12px;
         height: 10px;
         fill: #f0d276;
         transition: .2s;
      }
      span {
         display: flex;
         justify-content: center;
         align-items: center;
         background-color: #fcf7e6;
         height: 53px;
         margin-left: auto;
         padding-left: 23px;
         padding-right: 22px;
         transition: .2s;
      }
      &:hover {
         background-color: #fcf7e6;
         span {
            background-color: $primary-color;
         }
         svg {
            fill:  #fcf7e6;
         }
      }
      @media ( max-width: 576px ) {
         padding-left: 40px;
         height: 48px;
         span {
            height: 48px;
            padding-left: 24px;
            padding-right: 21px;
         }
      }
   }
   &__nav {
      display: flex;
      justify-content: center;

      margin-top: 102px;
      margin-bottom: 72px;
      @media ( max-width: 767px ) {
         margin-top: 60px;
         margin-bottom: 40px;
      }
      @media ( max-width: 576px ) {
         margin-top: 40px;
         margin-bottom: 50px;
      }
      button {
         font-family: $font-500;
         font-weight: 500;
         font-size: 1.3rem;
         color: $secondary-color;

         border: solid 3px rgba(124, 151, 170, 0.15);
         padding: 18px;
         padding-bottom: 16px;
         padding-left: 48px;
         padding-right: 19px;

         width: 100%;
         max-width: 370px;
         cursor: pointer;
         transition: .2s;
         &:hover {
            color: rgba( $secondary-color , .6);
            svg {
               fill: rgba(12, 30, 44, 0.2);
            }
         }
      }
      svg {
         width: 10px;
         height: 12px;
         fill: rgba(12, 30, 44, 0.15);
         margin-left: 30px;
         transform: rotate(90deg);
         transition: .2s;
      }
   }
}
