<div class="project-item">
   <div class="project-item__inner">
            <!-- item -->
      <div class="project-item__content" style="background-image: url(img/foto/project-item-foto-1.jpg);">
         <div class="project-item__desc">АВТОРСКИЙ ПРОЕКТ</div>
         <div class="project-item__title">Амстердам</div>
      </div>
      <!-- item-panel -->
      <div class="project-item__content project-item__content--panel" style="background-image: url(img/foto/project-item-foto-2.jpg);">
         <div class="project-item__panel">
            <div class="project-item__wrap">
               <div class="project-item__name">
                  <div class="project-item__desc project-item__desc--panel">АВТОРСКИЙ ПРОЕКТ</div>
                  <div class="project-item__title">Канны</div>
               </div>
               <ul class="project-item__list">
                  <li>
                     <span>Площадь:</span>
                     <span>250 м2</span>
                  </li>
                  <li>
                     <span>Площадь:</span>
                     <span>2 + цоколь</span>
                  </li>
                  <li>
                     <span>Материал:</span>
                     <span>Монолит</span>
                  </li>
               </ul>
            </div>
            <a class="project-item__btn" href="##">
               ОТКРЫТЬ ПРОЕКТ
               <span>
                  <svg>
                     <use xlink:href="#arrows"></use>
                  </svg>
               </span>
            </a>
         </div>
      </div>
      <!-- item -->
      <div class="project-item__content" style="background-image: url(img/foto/project-item-foto-3.jpg);">
         <div class="project-item__desc">АВТОРСКИЙ ПРОЕКТ</div>
         <div class="project-item__title">Каталония</div>
      </div>
      <!-- item -->
      <div class="project-item__content" style="background-image: url(img/foto/project-item-foto-4.jpg);">
         <div class="project-item__desc">АВТОРСКИЙ ПРОЕКТ</div>
         <div class="project-item__title">Скадика</div>
      </div>
      <!-- item -->
      <div class="project-item__content" style="background-image: url(img/foto/project-item-foto-5.jpg);">
         <div class="project-item__desc">АВТОРСКИЙ ПРОЕКТ</div>
         <div class="project-item__title">Хельсинки</div>
      </div>
      <!-- item-panel -->
      <div class="project-item__content project-item__content--panel" style="background-image: url(img/foto/project-item-foto-6.jpg);">
         <div class="project-item__panel">
            <div class="project-item__wrap">
               <div class="project-item__name">
                  <div class="project-item__desc project-item__desc--panel">ТИПОВОЙ ПРОЕКТ</div>
                  <div class="project-item__title">Анима</div>
               </div>
               <ul class="project-item__list">
                  <li>
                     <span>Площадь:</span>
                     <span>250 м2</span>
                  </li>
                  <li>
                     <span>Площадь:</span>
                     <span>2 + цоколь</span>
                  </li>
                  <li>
                     <span>Материал:</span>
                     <span>Монолит</span>
                  </li>
                  <li>
                     <span>Цена:</span>
                     <span>от 7,85 млн.</span>
                  </li>
               </ul>
            </div>
            <a class="project-item__btn" href="##">
               ОТКРЫТЬ ПРОЕКТ
               <span>
                  <svg>
                     <use xlink:href="#arrows"></use>
                  </svg>
               </span>
            </a>
         </div>
      </div>
      <!-- item -->
      <div class="project-item__content" style="background-image: url(img/foto/project-item-foto-7.jpg);">
         <div class="project-item__desc">АВТОРСКИЙ ПРОЕКТ</div>
         <div class="project-item__title">Амбассадор</div>
      </div>
      <!-- item-panel -->
      <div class="project-item__content project-item__content--panel" style="background-image: url(img/foto/project-item-foto-8.jpg);">
         <div class="project-item__panel">
            <div class="project-item__wrap">
               <div class="project-item__name">
                  <div class="project-item__desc project-item__desc--panel">КОММЕРЧЕСКИЙ ПРОЕКТ</div>
                  <div class="project-item__title">Мио</div>
               </div>
               <ul class="project-item__list">
                  <li>
                     <span>Площадь:</span>
                     <span>250 м2</span>
                  </li>
                  <li>
                     <span>Площадь:</span>
                     <span>2 + цоколь</span>
                  </li>
                  <li>
                     <span>Материал:</span>
                     <span>Монолит</span>
                  </li>
                  <li>
                     <span>Назначение:</span>
                     <span>База отдыха</span>
                  </li>
               </ul>
            </div>
            <a class="project-item__btn" href="##">
               ОТКРЫТЬ ПРОЕКТ
               <span>
                  <svg>
                     <use xlink:href="#arrows"></use>
                  </svg>
               </span>
            </a>
         </div>
      </div>
      <!-- item -->
      <div class="project-item__content" style="background-image: url(img/foto/project-item-foto-9.jpg);">
         <div class="project-item__desc">АВТОРСКИЙ ПРОЕКТ</div>
         <div class="project-item__title">Амбассадор</div>
      </div>
      <!-- item -->
      <div class="project-item__content" style="background-image: url(img/foto/project-item-foto-10.jpg);">
         <div class="project-item__desc">АВТОРСКИЙ ПРОЕКТ</div>
         <div class="project-item__title">Амбассадор</div>
      </div>
   </div>
   <div class="container">
      <div class="project-item__nav">
         <button>
            ПОКАЗАТЬ БОЛЬШЕ ПРОЕКТОВ
            <svg>
               <use xlink:href="#arrows"></use>
            </svg>
         </button>
      </div>
   </div>
</div>
