<section class="services">
  <!-- item 1 -->
  <div class="services__item">
    <div class="services__foto">
      <picture>
        <source srcset="img/content/layer-18.webp 1x" width="875">
        <img src="img/content/layer-18.jpg" alt="##" width="875">
      </picture>
    </div>
    <div class="services__content">
      <div class="services__desc">Создаем красивый и&nbsp;функциональный дом в&nbsp;рамках вашего бюджета</div>
      <div class="services__title">Архитектурное проектирование</div>
      <div class="services__subtitle">При архитектурном проектировании мы&nbsp;продумываем:</div>
      <ul class="services__list">
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Размер и&nbsp;форму жилья;
        </li>
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Количество и&nbsp;расположение входных дверей;
        </li>
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Этажность строения;
        </li>
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Материал, из&nbsp;которого будет строиться дом;
        </li>
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Наличие котельной, пристроенного к&nbsp;дому гаража и&nbsp;других объектов;
        </li>
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Устройство санузлов: в&nbsp;многоэтажном коттедже иногда они располагаются на&nbsp;каждом этаже;
        </li>
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Количество и&nbsp;величину окон;
        </li>
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Наличие проходных комнат и&nbsp;др.
        </li>
      </ul>
      @@include('../btn/btn.html', {
        "text": "У&nbsp;меня уже есть проект",
        "modal": "already-have",
        "mod": "blue"
      })
    </div>
  </div>
  <!-- item 2 -->
  <div class="services__item services__item--right">
    <div class="services__content">
      <div class="services__title">Проектирование <br> инженерных коммуникаций</div>
      <ul class="services__list">
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Отопление и&nbsp;вентиляция
        </li>
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Водоснабжение и&nbsp;канализация
        </li>
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Электироснабжение
        </li>
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Слаботочные системы
        </li>
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          &laquo;Умный дом&raquo;
        </li>
      </ul>
    </div>
    <div class="services__foto services__foto--right">
      <picture>
        <source srcset="img/content/layer-19.webp 1x" width="875">
        <img src="img/content/layer-19.jpg" alt="##" width="875">
      </picture>
    </div>
  </div>
  <!-- item 3 -->
  <div class="services__item">
    <div class="services__foto">
      <picture>
        <source srcset="img/content/layer-20.webp 1x" width="875">
        <img src="img/content/layer-20.jpg" alt="##" width="875">
      </picture>
    </div>
    <div class="services__content">
      <div class="services__title">Строительство</div>
      <ul class="services__list">
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          После утверждения проекта строительство нового дома осуществляется силами собственных подразделений компании.
        </li>
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Тройной контроль качества: прораб, инженер, технадзор.
        </li>
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Учитываем СНИПы, ГОСТЫ, градостроительные нормы.
        </li>
      </ul>
    </div>
  </div>
  <!-- item 4 -->
  <div class="services__item services__item--right">
    <div class="services__content">
      <div class="services__title">ДИЗАЙН ИНТЕРЬЕРА</div>
      <div class="services__quote">Пройдитесь по&nbsp;своему дому ещё до&nbsp;начала ремонта и&nbsp;оцените, насколько
        вам комфортно?
      </div>
      <div class="services__subtitle">С&nbsp;помощью 3D-визуализации вы&nbsp;можете:</div>
      <ul class="services__list">
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Видеть все пространство вокруг себя;
        </li>
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Приближать и&nbsp;отдалять изображение;
        </li>
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Рассматривать пол, потолок, стены, мебель, цвета, стилистику.
        </li>
      </ul>
      <div class="services__feedback">
        <div class="services__icon">
          <svg>
            <use xlink:href="#project-icon-2"></use>
          </svg>
        </div>
        <span>После интервью заказчика с&nbsp;нашим дизайнером, мы&nbsp;формируем техническое задание и&nbsp;детальный
          сценарий
          эксплуатации каждого помещения.</span>
      </div>
    </div>
    <div class="services__foto services__foto--right">
      <picture>
        <source srcset="img/content/layer-21.webp 1x" width="875">
        <img src="img/content/layer-21.jpg" alt="##" width="875">
      </picture>
    </div>
  </div>
  <!-- item 5 -->
  <div class="services__item">
    <div class="services__foto">
      <picture>
        <source srcset="img/content/layer-22.webp 1x" width="875">
        <img src="img/content/layer-22.jpg" alt="##" width="875">
      </picture>
    </div>
    <div class="services__content">
      <div class="services__title">Отделочные работы</div>
      <ul class="services__list">
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Собственные мастера с&nbsp;большим опытом;
        </li>
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Качественные строительные материалы от&nbsp;производителей или официальных дилеров;
        </li>
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Отчет о&nbsp;проделанной работе в&nbsp;личном кабинете или мессенджере.
        </li>
      </ul>
    </div>
  </div>
  <!-- item 6 -->
  <div class="services__item services__item--right">
    <div class="services__content">
      <div class="services__title">Комплектация мебелью</div>
      <ul class="services__list">
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Скидка при комплектации объекта от&nbsp;производителя, как оптовый покупатель;
        </li>
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Экономия вашего времени на&nbsp;поездки и&nbsp;разговоры с&nbsp;поставщиками;
        </li>
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Отсутствие транспортных расходов;
        </li>
        <li>
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
          Точное соответствие дизайн-проекту.
        </li>
      </ul>
    </div>
    <div class="services__foto services__foto--right">
      <picture>
        <source srcset="img/content/layer-24.webp 1x" width="875">
        <img src="img/content/layer-24.jpg" alt="##" width="875">
      </picture>
    </div>
  </div>
  <!-- item 7 -->
  <div class="services__item">
    <div class="services__foto">
      <picture>
        <source srcset="img/content/layer-25.webp 1x" width="875">
        <img src="img/content/layer-25.jpg" alt="##" width="875">
      </picture>
    </div>
    <div class="services__content">
      <div class="services__title">Ландшафтный дизайн</div>
      <div class="services__text">
        <span>Наша цель&nbsp;&mdash; создать для Заказчика комфортное и&nbsp;гармоничное пространство жизни, где
          участок, экстерьер и
          интерьер являются единым целым.</span>
        <span>При разработке ландшафтного дизайна учитываем архитектурный стиль дома, идеи дизайнера интерьеров,
          пожелания заказчика, индивидуальные особенности, например домашние питомцы, аллергия на&nbsp;растения.</span>
      </div>
    </div>
  </div>
  @@if (context.main) {
    <div class="services__item services__item--right">
      <div class="services__content">
        <div class="services__title">Под ваш проект <br> создается проектная группа <br> из&nbsp;специалистов:</div>
        <ul class="services__list">
          <li>
            <svg>
              <use xlink:href="#arrow-right"></use>
            </svg>
            Архитекторы;
          </li>
          <li>
            <svg>
              <use xlink:href="#arrow-right"></use>
            </svg>
            Конструкторы;
          </li>
          <li>
            <svg>
              <use xlink:href="#arrow-right"></use>
            </svg>
            Инженеры;
          </li>
          <li>
            <svg>
              <use xlink:href="#arrow-right"></use>
            </svg>
            Дизайнеры;
          </li>
          <li>
            <svg>
              <use xlink:href="#arrow-right"></use>
            </svg>
            Ландшафтные дизайнеры;
          </li>
          <li>
            <svg>
              <use xlink:href="#arrow-right"></use>
            </svg>
            Комплектовщики.
          </li>
        </ul>
      </div>
      <div class="services__foto services__foto--right">
        <picture>
          <source srcset="img/content/layer-26.webp 1x" width="875">
        <img src="img/content/layer-26.jpg" alt="##" width="875">
        </picture>
      </div>
    </div>
    <!-- item 9 -->
    <div class="services__item">
      <div class="services__foto">
        <picture>
          <source srcset="img/content/layer-27.webp 1x" width="875">
        <img src="img/content/layer-27.jpg" alt="##" width="875">
        </picture>
      </div>
      <div class="services__content">
        <div class="services__desc">Для обсуждения деталей вашего проекта</div>
        <div class="services__title">Создаем общий чат <br> в&nbsp;удобном мессенджере</div>
        <div class="services__subtitle">В&nbsp;режиме реального времени вы&nbsp;сможете увидеть:</div>
        <ul class="services__list">
          <li>
            <svg>
              <use xlink:href="#arrow-right"></use>
            </svg>
            Эскизы;
          </li>
          <li>
            <svg>
              <use xlink:href="#arrow-right"></use>
            </svg>
            Наброски;
          </li>
          <li>
            <svg>
              <use xlink:href="#arrow-right"></use>
            </svg>
            Технические решения;
          </li>
        </ul>
        <div class="services__feedback">
          <div class="services__icon">
            <svg>
              <use xlink:href="#project-icon-1"></use>
            </svg>
          </div>
          <span>Специалисты готовы ответить на&nbsp;любой ваш вопрос в&nbsp;режиме реального времени.</span>
        </div>
      </div>
    </div>
  }
  <!-- item 8 -->

</section>
