<div class="members">
   <div class="container">
      <div class="members__inner">
         <div class="members__desc">Работаем ежедневно с 10:00-22:00</div>
         <div class="members__title">Наш отдел заботы всегда готов ответить на ваши вопросы</div>
         <div class="members__content">
            <!-- item -->
            <div class="members__item">
               <span class="members__foto members__foto--yellow">
                  <span style="background-image: url('img/foto/members-foto-1.png');"></span>
               </span>
               <div class="members__fio">Александр Ивановский</div>
               <div class="members__subtitle">Проектный консультант</div>
            </div>
            <!-- item -->
            <div class="members__item">
               <span class="members__foto">
                  <span style="background-image: url('img/foto/members-foto-1.png');"></span>
               </span>
               <div class="members__fio">Алевтина Винивитина</div>
               <div class="members__subtitle">Специалист по архитектуре</div>
            </div>
            <!-- item -->
            <div class="members__item">
               <span class="members__foto">
                  <span style="background-image: url('img/foto/members-foto-1.png');"></span>
               </span>
               <div class="members__fio">Светлана Домоделова</div>
               <div class="members__subtitle">Главный прораб</div>
            </div>
            <!-- item -->
            <div class="members__item">
               <span class="members__foto">
                  <span style="background-image: url('img/foto/members-foto-1.png');"></span>
               </span>
               <div class="members__fio">Семёныч</div>
               <div class="members__subtitle">Строит на славу</div>
            </div>
         </div>
         <button class="members__btn">
            ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
            <span>
               <svg>
                  <use xlink:href="#arrows"></use>
               </svg>
            </span>
         </button>
      </div>
   </div>
</div>
