<div class="form">
   <div class="form__inner">
      <div class="form__text">
         <div class="form__title">У вас есть свой проект?</div>
         <div class="form__subtitle">Загрузите его для расчёта. Проведем профессиональную экспертизу и сделаем подробную смету.</div>
      </div>
      <form class="form__content" action="/">
         <div class="form__wrap">
            <div class="form__item">
               <svg>
                  <use xlink:href="img/sprite_auto.svg#form-icon"></use>
               </svg>
               <input class="form__file" type="file" name="formFile" id="formFile">
               <label class="form__file-label" for="formFile">
                  Прикрепите файлы
               </label>
            </div>
            <div class="form__item">
               <svg>
                  <use xlink:href="img/sprite_auto.svg#contacts-icon-2"></use>
               </svg>
               <input class="form__input" type="text" placeholder="Введите номер телефона">
            </div>
         </div>
         <button class="form__btn" type="submit">
            РАССЧИТАТЬ СТОИМОСТЬ
            <span>
               <svg>
                  <use xlink:href="img/sprite_auto.svg#arrows"></use>
               </svg>
            </span> 
         </button>
      </form>
   </div>
</div>