<section class="tech">
  <h2 class="visually-hidden">Статьи</h2>
  <ul class="tech__list">
    <li class="tech__item">
      <article class="article-card">
        <h3 class="article-card__title">Строительство из&nbsp;газоблока</h3>
        <!-- @@include('../btn/btn.html', {
          "text": "Открыть страницу",
          "mod": "white",
          "bemElement": "article-card__link",
          "href": "##"
        }) -->
        <picture class="article-card__img">
          <img src="img/tech-card.jpg" alt="Строительство из газоблока" loading="lazy">
        </picture>
      </article>
    </li>
    <li class="tech__item">
      <article class="article-card">
        <h3 class="article-card__title">Строительство из&nbsp;кирпича</h3>
        <!-- @@include('../btn/btn.html', {
          "text": "Открыть страницу",
          "mod": "white",
          "bemElement": "article-card__link",
          "href": "##"
        }) -->
        <picture class="article-card__img">
          <img src="img/tech-card-2.jpg" alt="Строительство из кирпича" loading="lazy">
        </picture>
      </article>
    </li>
    <li class="tech__item">
      <article class="article-card">
        <h3 class="article-card__title">Строительство монолитное</h3>
        <!-- @@include('../btn/btn.html', {
          "text": "Открыть страницу",
          "mod": "white",
          "bemElement": "article-card__link",
          "href": "##"
        }) -->
        <picture class="article-card__img">
          <img src="img/tech-card-3.jpg" alt="Строительство монолитное" loading="lazy">
        </picture>
      </article>
    </li>
    <li class="tech__item">
      <article class="article-card">
        <h3 class="article-card__title">Коммерческое строительство</h3>
        <!-- @@include('../btn/btn.html', {
          "text": "Открыть страницу",
          "mod": "white",
          "bemElement": "article-card__link",
          "href": "##"
        }) -->
        <picture class="article-card__img">
          <img src="img/tech-card-4.jpg" alt="Коммерческое строительство" loading="lazy">
        </picture>
      </article>
    </li>
    <li class="tech__item">
      <article class="article-card">
        <h3 class="article-card__title">Всё о&nbsp;проектах и&nbsp;архитектуре</h3>
        <!-- @@include('../btn/btn.html', {
          "text": "Открыть страницу",
          "mod": "white",
          "bemElement": "article-card__link",
          "href": "##"
        }) -->
        <picture class="article-card__img">
          <img src="img/tech-card-5.jpg" alt="Всё о проектах и архитектуре" loading="lazy">
        </picture>
      </article>
    </li>
    <li class="tech__item">
      <article class="article-card">
        <h3 class="article-card__title">Описание этапов строительства</h3>
        <!-- @@include('../btn/btn.html', {
          "text": "Открыть страницу",
          "mod": "white",
          "bemElement": "article-card__link",
          "href": "##"
        }) -->
        <picture class="article-card__img">
          <img src="img/tech-card-6.jpg" alt="Описание этапов строительства" loading="lazy">
        </picture>
      </article>
    </li>
  </ul>
</section>
