<section class="approach">
  <div class="container">
    <div class="approach__inner">
      <div class="approach__nav">
        @@include('../btn/btn.html', {
        "text": "Смотреть все проекты",
        "mod": "blue",
        "href": "/projects.html"
        })
        <span>или</span>
        <a class="approach__link" href="##">
          <svg>
            <use xlink:href="/img/sprite_auto.svg#pdf"></use>
          </svg>
          Скачать презентацию
        </a>
      </div>
      <div class="approach__content">
        <div class="approach__foto">
          <picture>
            <source srcset="img/content/service-img.webp 1x" type="image/webp" width="523">
            <img src="img/content/service-img.png" width="523" alt="Фотография нашего аккаунт-менеджера">
          </picture>
        </div>
        <div class="approach__text">
          <h2 class="approach__title">Mansio СЕРВИС</h2>
          <span>За каждым нашим клиентом закрепляется <span>персональный менеджер</span> клиентской службы «Mansio
            Group», который контролирует процесс проектирования, строительства и работу всех специалистов.</span>
          <span>Важная информация о ходе реализации проекта будет представлена в личном кабинете клиента или в любом
            удобном мессенджере.</span>
          <span>На протяжении всего проекта 24/7 у вас будет возможность отслеживать этап проектирования или
            строительства, а также иметь доступ к:</span>
          <ul class="approach__list">
            <li>
              <svg>
                <use xlink:href="/img/sprite_auto.svg#arrow-right"></use>
              </svg>
              Юридической и проектной документации;
            </li>
            <li>
              <svg>
                <use xlink:href="/img/sprite_auto.svg#arrow-right"></use>
              </svg>
              Отчетам по этапам;
            </li>
            <li>
              <svg>
                <use xlink:href="/img/sprite_auto.svg#arrow-right"></use>
              </svg>
              Финансовому графику оплат;
            </li>
            <li>
              <svg>
                <use xlink:href="/img/sprite_auto.svg#arrow-right"></use>
              </svg>
              Срокам исполнения работ;
            </li>
            <li>
              <svg>
                <use xlink:href="/img/sprite_auto.svg#arrow-right"></use>
              </svg>
              Видеонаблюдению в режиме реального времени.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
