<!-- item -->
<div class="works-item" style="background-image: url('img/works-item1.jpg');">
   <svg>
      <use xlink:href="/img/sprite_auto.svg#works-icon-1"></use>
   </svg>
   <div class="works-item__title">Типовые проекты</div>
   <ul class="works-item__list">
      <li>
         <svg>
            <use xlink:href="/img/sprite_auto.svg#arrow-right"></use>
         </svg>
         Приступаем к строительству сразу
      </li>
      <li>
         <svg>
            <use xlink:href="/img/sprite_auto.svg#arrow-right"></use>
         </svg>
         Оптимизированный расход материалов
      </li>
      <li>
         <svg>
            <use xlink:href="/img/sprite_auto.svg#arrow-right"></use>
         </svg>
         Стоимость м2 в типовых проектах ниже
      </li>
   </ul>
   <a class="works-item__link" href="##">
      Подробнее
      <svg>
         <use xlink:href="/img/sprite_auto.svg#arrows"></use>
      </svg>
   </a>
</div>
<!-- item -->
<div class="works-item" style="background-image: url('img/works-item2.jpg');">
   <svg>
      <use xlink:href="/img/sprite_auto.svg#works-icon-2"></use>
   </svg>
   <div class="works-item__title">Авторские проекты</div>
   <ul class="works-item__list">
      <li>
         <svg>
            <use xlink:href="/img/sprite_auto.svg#arrow-right"></use>
         </svg>
         Кому важна индивидуальность
      </li>
      <li>
         <svg>
            <use xlink:href="/img/sprite_auto.svg#arrow-right"></use>
         </svg>
         Дом большой площади
      </li>
      <li>
         <svg>
            <use xlink:href="/img/sprite_auto.svg#arrow-right"></use>
         </svg>
         Особенности пятна застройки
      </li>
   </ul>
   <a class="works-item__link" href="##">
      Подробнее
      <svg>
         <use xlink:href="/img/sprite_auto.svg#arrows"></use>
      </svg>
   </a>
</div>
<!-- item -->
<div class="works-item" style="background-image: url('img/works-item3.jpg');">
   <svg>
      <use xlink:href="/img/sprite_auto.svg#works-icon-3"></use>
   </svg>
   <div class="works-item__title">Коммерческие проекты</div>
   <ul class="works-item__list">
      <li>
         <svg>
            <use xlink:href="/img/sprite_auto.svg#arrow-right"></use>
         </svg>
         Приступаем к строительству сразу
      </li>
      <li>
         <svg>
            <use xlink:href="/img/sprite_auto.svg#arrow-right"></use>
         </svg>
         Оптимизированный расход материалов
      </li>
      <li>
         <svg>
            <use xlink:href="/img/sprite_auto.svg#arrow-right"></use>
         </svg>
         Стоимость м2 в типовых проектах ниже
      </li>
   </ul>
   <a class="works-item__link" href="##">
     Подробнее
      <svg>
         <use xlink:href="/img/sprite_auto.svg#arrows"></use>
      </svg>
   </a>
</div>
