<section class="we-do" id="we-do" >
  <div class="container">
    @@if (context.headline) {
    @@include('../headline/headline.html', {
    "headline": "@@headline"
    })
    }
  </div>
  <div class="we-do__content">

    <article class="we-do__item  we-do__item--bg-first">
      <svg class="we-do__item-icon" width="63" height="49">
        <use xlink:href="/img/sprite_auto.svg#works-icon-1"></use>
      </svg>
      <h3 class="we-do__item-title">Типовые проекты</h3>
      <ul class="we-do__item-list">
        <li>Приступаем к строительству сразу</li>
        <li>Оптимизированный расход материалов</li>
        <li>Стоимость м2 в типовых проектах ниже</li>
      </ul>
      <a class="we-do__item-link" href="projects.html#sectionCatalog">
        Подробнее
        <svg>
          <use xlink:href="/img/sprite_auto.svg#arrows"></use>
        </svg>
      </a>
    </article>

    <article class="we-do__item  we-do__item--bg-second">
      <svg class="we-do__item-icon" width="58" height="48">
        <use xlink:href="/img/sprite_auto.svg#works-icon-2"></use>
      </svg>
      <h3 class="we-do__item-title">Авторские проекты</h3>
      <ul class="we-do__item-list">
        <li>Кому важна индивидуальность</li>
        <li>Дом большой площади</li>
        <li>Особенности пятна застройки</li>
      </ul>
      <a class="we-do__item-link" href="projects.html#sectionCatalog">
        Подробнее
        <svg>
          <use xlink:href="/img/sprite_auto.svg#arrows"></use>
        </svg>
      </a>
    </article>

    <article class="we-do__item  we-do__item--bg-third">
      <svg class="we-do__item-icon" width="52" height="52">
        <use xlink:href="/img/sprite_auto.svg#works-icon-3"></use>
      </svg>
      <h3 class="we-do__item-title">Коммерческие проекты</h3>
      <ul class="we-do__item-list">
        <li>Приступаем к строительству сразу</li>
        <li>Оптимизированный расход материалов</li>
        <li>Стоимость м2 в типовых проектах ниже</li>
      </ul>
      <a class="we-do__item-link" href="projects.html#sectionCatalog">
        Подробнее
        <svg>
          <use xlink:href="/img/sprite_auto.svg#arrows"></use>
        </svg>
      </a>
    </article>

  </div>
</section>
