<div class="filter">
   <div class="filter__panel">
      <div class="filter__btn" id='filterShow'>
         ПОКАЗАТЬ ФИЛЬТР
         <svg>
            <use xlink:href="#arrows"></use>
         </svg>
      </div>
   </div>
   <div class="filter__inner" style="display: none;">
      <div class="container">
         <form class="filter__form" action="/">
            <div class="filter__checkbox">
               <!-- filter -->
               <div class="filter__content">
                  <div class="filter__title">Категории</div>
                  <div class="filter__wrap">
                     <input class="filter__input" type="checkbox" name="categories-1" id="categories-1" checked>
                     <label class="filter__label" for="categories-1">Авторские</label>
                  </div>
                  <div class="filter__wrap">
                     <input class="filter__input" type="checkbox" name="categories" id="categories-2">
                     <label class="filter__label" for="categories-2">Типовые</label>
                  </div>
                  <div class="filter__wrap">
                     <input class="filter__input" type="checkbox" name="categories" id="categories-3">
                     <label class="filter__label" for="categories-3">Коммерческие</label>
                  </div>
               </div>
               <!-- filter -->
               <div class="filter__content">
                  <div class="filter__title">ЦЕНА</div>
                  <div class="filter__wrap">
                     <input class="filter__input" type="checkbox" name="categories-2" id="categories-4" checked>
                     <label class="filter__label" for="categories-4">5-7 млн руб</label>
                  </div>
                  <div class="filter__wrap">
                     <input class="filter__input" type="checkbox" name="categories-2" id="categories-5">
                     <label class="filter__label" for="categories-5">8-10 млн руб</label>
                  </div>
                  <div class="filter__wrap">
                     <input class="filter__input" type="checkbox" name="categories-2" id="categories-6">
                     <label class="filter__label" for="categories-6">11-15 млн руб</label>
                  </div>
                  <div class="filter__wrap">
                     <input class="filter__input" type="checkbox" name="categories-2" id="categories-7">
                     <label class="filter__label" for="categories-7">15-20 млн руб</label>
                  </div>
                  <div class="filter__wrap">
                     <input class="filter__input" type="checkbox" name="categories-2" id="categories-8">
                     <label class="filter__label" for="categories-8">21+ млн руб</label>
                  </div>
               </div>
               <!-- filter -->
               <div class="filter__content">
                  <div class="filter__title">Этажность</div>
                  <div class="filter__wrap">
                     <input class="filter__input" type="checkbox" name="categories-3" id="categories-9" checked>
                     <label class="filter__label" for="categories-9">1 этаж</label>
                  </div>
                  <div class="filter__wrap">
                     <input class="filter__input" type="checkbox" name="categories-3" id="categories-10">
                     <label class="filter__label" for="categories-10">2 этажа</label>
                  </div>
                  <div class="filter__wrap">
                     <input class="filter__input" type="checkbox" name="categories-3" id="categories-11">
                     <label class="filter__label" for="categories-11">3 этажа</label>
                  </div>
                  <div class="filter__wrap">
                     <input class="filter__input" type="checkbox" name="categories-3" id="categories-12">
                     <label class="filter__label" for="categories-12">Мансарда</label>
                  </div>
                  <div class="filter__wrap">
                     <input class="filter__input" type="checkbox" name="categories-3" id="categories-13">
                     <label class="filter__label" for="categories-13">Цоколь</label>
                  </div>
               </div>
               <!-- filter -->
               <div class="filter__content">
                  <div class="filter__title">Технологии</div>
                  <div class="filter__wrap">
                     <input class="filter__input" type="checkbox" name="categories-4" id="categories-14" checked>
                     <label class="filter__label" for="categories-14">Газобетон</label>
                  </div>
                  <div class="filter__wrap">
                     <input class="filter__input" type="checkbox" name="categories-4" id="categories-15">
                     <label class="filter__label" for="categories-15">Тёплая керамика</label>
                  </div>
                  <div class="filter__wrap">
                     <input class="filter__input" type="checkbox" name="categories-4" id="categories-16">
                     <label class="filter__label" for="categories-16">Кирпич</label>
                  </div>
                  <div class="filter__wrap">
                     <input class="filter__input" type="checkbox" name="categories-4" id="categories-17">
                     <label class="filter__label" for="categories-17">Монолит</label>
                  </div>
               </div>
               <!-- filter -->
               <div class="filter__content">
                  <div class="filter__title">Площадь</div>
                  <div class="filter__wrap">
                     <input class="filter__input" type="checkbox" name="categories-5" id="categories-18" checked>
                     <label class="filter__label" for="categories-18">До 200 м2</label>
                  </div>
                  <div class="filter__wrap">
                     <input class="filter__input" type="checkbox" name="categories-5" id="categories-19">
                     <label class="filter__label" for="categories-19">200-300 м2</label>
                  </div>
                  <div class="filter__wrap">
                     <input class="filter__input" type="checkbox" name="categories-5" id="categories-20">
                     <label class="filter__label" for="categories-20">300-500 м2</label>
                  </div>
                  <div class="filter__wrap">
                     <input class="filter__input" type="checkbox" name="categories-5" id="categories-21">
                     <label class="filter__label" for="categories-21">500 м2 и более</label>
                  </div>
               </div>
               <!-- filter -->
               <div class="filter__content">
                  <div class="filter__title">Спальни</div>
                  <div class="filter__wrap">
                     <input class="filter__input" type="checkbox" name="categories-6" id="categories-22" checked>
                     <label class="filter__label" for="categories-22">1 спальня</label>
                  </div>
                  <div class="filter__wrap">
                     <input class="filter__input" type="checkbox" name="categories-6" id="categories-23">
                     <label class="filter__label" for="categories-23">2 спальни</label>
                  </div>
                  <div class="filter__wrap">
                     <input class="filter__input" type="checkbox" name="categories-6" id="categories-24">
                     <label class="filter__label" for="categories-24">3 спальни</label>
                  </div>
                  <div class="filter__wrap">
                     <input class="filter__input" type="checkbox" name="categories-6" id="categories-25">
                     <label class="filter__label" for="categories-25">4 спальни</label>
                  </div>
                  <div class="filter__wrap">
                     <input class="filter__input" type="checkbox" name="categories-6" id="categories-26">
                     <label class="filter__label" for="categories-26">5 спален</label>
                  </div>
                  <div class="filter__wrap">
                     <input class="filter__input" type="checkbox" name="categories-6" id="categories-27">
                     <label class="filter__label" for="categories-27">6 спален</label>
                  </div>
                  <div class="filter__wrap">
                     <input class="filter__input" type="checkbox" name="categories-6" id="categories-28">
                     <label class="filter__label" for="categories-28">7 спален и более</label>
                  </div>
               </div>
            </div>
            <!-- nav -->
            <div class="filter__nav">
               <div class="filter__btn filter__btn--show" id='filterHide'>
                  СКРЫТЬ ФИЛЬТР
                  <svg>
                     <use xlink:href="#arrows"></use>
                  </svg>
               </div>
               <button class="filter__submit" type="button">
                  Применить фильтры
                  <span>
                     <svg>
                        <use xlink:href="#arrows"></use>
                     </svg>
                  </span>
               </button>
            </div>
         </form>
      </div>
   </div>
</div>
