<div class="info">
   <div class="container">
      <div class="info__inner">
         <div class="info__desc">Реквизиты и карточка компании</div>
         <div class="info__title">Для наших клиентов и партнеров мы подготовили полную юридическую информацию о нашей компании</div>
         <div class="info__content">
            <div class="info__text">
               <div class="info__logo">
                  <svg>
                     <use xlink:href="/img/sprite_auto.svg#logo"></use>
                  </svg>
               </div>
               <span>ООО «МАНСИО ГРУПП»</span>
               <span>ИНН 7727435818</span>
               <span>ОГРН 1197746734767</span>
               <div class="info__address">Рублево-Успенское шоссе 1 км ТДЦ «1 КМ», офис 512</div>
            </div>
            <div class="info__download">
               <div class="info__wrap">
                  <span>Для удобства, <a class="js-no-smoothState" href="./Карточка предприятия Mansio Group.pdf" download="">скачайте</a> реквизиты одним файлом</span>
                  <svg>
                     <use xlink:href="/img/sprite_auto.svg#pdf"></use>
                  </svg>
               </div>
               <a class="info__btn  js-no-smoothState" href="./Карточка предприятия Mansio Group.pdf" download>
                  СКАЧАТЬ РЕКВИЗИТЫ В PDF
                  <span>
                     <svg>
                        <use xlink:href="/img/sprite_auto.svg#arrows"></use>
                     </svg>
                  </span>
               </a>
            </div>
         </div>
      </div>
   </div>
</div>
