<section class="catalog">
  <h2 class="visually-hidden">Каталог домов</h2>
  <ul class="catalog__list">
    @@include("../card/card.html", {
      "bemElement": "catalog__item",
      "bemMod": "catalog",
      "title": "Амстердам",
      "subtitle": "Авторский проект",
      "imgSrc": "img/catalog/project-1",
      "imgW": "950"
    })
    @@include("../card/card.html", {
      "bemElement": "catalog__item",
      "bemMod": "catalog",
      "title": "Канны",
      "subtitle": "Авторский проект",
      "imgSrc": "img/catalog/project-2",
      "imgW": "950"
    })
    @@include("../card/card.html", {
      "bemElement": "catalog__item",
      "bemMod": "catalog",
      "title": "Каталония",
      "subtitle": "Авторский проект",
      "imgSrc": "img/catalog/project-3",
      "imgW": "950"
    })
    @@include("../card/card.html", {
      "bemElement": "catalog__item",
      "bemMod": "catalog",
      "title": "Скадика",
      "subtitle": "Авторский проект",
      "imgSrc": "img/catalog/project-4",
      "imgW": "951"
    })
    @@include("../card/card.html", {
      "bemElement": "catalog__item",
      "bemMod": "catalog",
      "title": "Хельсинки",
      "subtitle": "Авторский проект",
      "imgSrc": "img/catalog/project-5",
      "imgW": "950"
    })
    @@include("../card/card.html", {
      "bemElement": "catalog__item",
      "bemMod": "catalog",
      "title": "Анима",
      "subtitle": "Типовой проект",
      "imgSrc": "img/catalog/6",
      "imgW": "951"
    })
    @@include("../card/card.html", {
      "bemElement": "catalog__item",
      "bemMod": "catalog",
      "title": "Амбассадор",
      "subtitle": "Авторский проект",
      "imgSrc": "img/catalog/7",
      "imgW": "950"
    })
    @@include("../card/card.html", {
      "bemElement": "catalog__item",
      "bemMod": "catalog",
      "title": "Мио",
      "subtitle": "Коммерческий проект",
      "imgSrc": "img/catalog/8",
      "imgW": "951"
    })
    @@include("../card/card.html", {
      "bemElement": "catalog__item",
      "bemMod": "catalog",
      "title": "Софтлайн",
      "subtitle": "Типовой проект",
      "imgSrc": "img/catalog/9",
      "imgW": "950"
    })
    @@include("../card/card.html", {
      "bemElement": "catalog__item",
      "bemMod": "catalog",
      "title": "Спектрум",
      "subtitle": "Авторский проект",
      "imgSrc": "img/catalog/10",
      "imgW": "951"
    })
  </ul>
</section>
