<header class="header">
   <div class="header__logo">
      <img src="img/foto/logo.svg" alt="Логотип компании Mansio-gorup">
   </div>
   <div class="header__inner">
      <nav class="header__nav">
         <a class="header__link" href="##">Проекты</a>
         <a class="header__link" href="##">Услуги</a>
         <a class="header__link" href="##">Технологии</a>
         <a class="header__link" href="##">О нас</a>
         <a class="header__link" href="##">Контакты</a>
      </nav>
      <a class="header__login" href="##">                   
            <svg>
               <use xlink:href="img/sprite_auto.svg#login"></use>
            </svg> 
            Войти
         </a>
      <div class="header__social">
         <a class="header__telegram" href="#">
            <svg>
               <use xlink:href="img/sprite_auto.svg#telegram"></use>
            </svg> 
         </a>
         <a class="header__whatsapp" href="#">
            <svg>
               <use xlink:href="img/sprite_auto.svg#whatsapp"></use>
            </svg> 
         </a>
      </div>
      <div class="header__contacts">
         <a class="header__phone" href="tel:+8">+7 (800) 800-80-80</a>
         <a class="header__consultation " href="##">Получить консультацию</a>
      </div>
   </div>
   <!-- burger menu -->
   @@include('menu/template.html')
   <!-- burger menu end -->
</header>