.first-screen {
  display: flex;
  align-items: center;

  font-size: 16.7px;
  line-height: 1.68;
  color: #dce6ed;
  background-color: rgba(13, 30, 43, 0.6);
  height: 100vh;

  min-height: 750px;
  // padding-top: 285px;
  // padding-bottom: 306px;

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  @include viewport--xl {
    // height: 70vh;
  }

  @include viewport--md {
    height: auto;
    min-height: 60vh;
    padding-top: 100px;
    padding-bottom: 120px;
  }

  &__inner {
    padding-left: 100px;

    @include viewport--md {
      padding-left: 0;
    }

    @include viewport--xs {
      text-align: center;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 37.5px;
    line-height: 1.33;
    color: $color-default-white;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 65px;

    @media (max-width: 576px) {
      font-size: 2.2rem;
    }
  }

  p {
    max-width: 650px;
    margin-bottom: 35px;
  }

  ul {
    padding-left: 0;
    margin: 0;
  }

  li {
    list-style: none;
  }

  &__breadcrumbs {
    font-weight: 500;
    font-size: 1.6rem;
    color: #7c97aa;

    @media (max-width: 576px) {
      font-size: 1.4rem;
    }
  }
}

.no-webp .first-screen,
.no-js .first-screen {
  &--tech {
    background-image: url("../img/bg/bg-first-screen--tech.jpg");

    @include retina {
      background-image: url("../img/bg/bg-first-screen--tech@2x.jpg");
    }
  }

  &--contacts {
    background-image: url("../img/bg/bg-first-screen--contacts.jpg");

    @include retina {
      background-image: url("../img/bg/bg-first-screen--contacts@2x.jpg");
    }
  }

  &--projects {
    background-image: url("../img/bg/bg-first-screen--projects.jpg");

    @include retina {
      background-image: url("../img/bg/bg-first-screen--projects@2x.jpg");
    }
  }

  &--services {
    background-image: url("../img/bg/bg-first-screen--services.jpg");
    background-blend-mode: darken;

    @include retina {
      background-image: url("../img/bg/bg-first-screen--services2x.jpg");
    }
  }

  &--about {
    background-image: url("../img/bg/bg-first-screen--about.jpg");
    background-blend-mode: darken;

    @include retina {
      background-image: url("../img/bg/bg-first-screen--about@2x.jpg");
    }
  }

  &--thankyou {
    background-image: url("../img/bg/bg-first-screen--main.webp");
    background-blend-mode: darken;

    @include retina {
      background-image: url("../img/bg/bg-first-screen--main@2x.webp");
    }
  }

  &--team {
    background-image: url("../img/bg/bg-first-screen--team.jpg");
    background-blend-mode: darken;

    @include retina {
      background-image: url("../img/bg/bg-first-screen--team@2x.jpg");
    }
  }
}

.webp .first-screen {
  &--tech {
    background-image: url("../img/bg/bg-first-screen--tech.webp");

    @include retina {
      background-image: url("../img/bg/bg-first-screen--tech@2x.webp");
    }
  }

  &--contacts {
    background-image: url("../img/bg/bg-first-screen--contacts.webp");

    @include retina {
      background-image: url("../img/bg/bg-first-screen--contacts@2x.webp");
    }
  }

  &--projects {
    background-image: url("../img/bg/bg-first-screen--projects.webp");

    @include retina {
      background-image: url("../img/bg/bg-first-screen--projects@2x.webp");
    }
  }

  &--services {
    background-image: url("../img/bg/bg-first-screen--services.webp");
    background-blend-mode: darken;

    @include retina {
      background-image: url("../img/bg/bg-first-screen--services2x.webp");
    }
  }

  &--about {
    background-image: url("../img/bg/bg-first-screen--about.webp");
    background-blend-mode: darken;

    @include retina {
      background-image: url("../img/bg/bg-first-screen--about@2x.webp");
    }
  }

  &--thankyou {
    background-image: url("../img/bg/bg-first-screen--main.webp");
    background-blend-mode: darken;

    @include retina {
      background-image: url("../img/bg/bg-first-screen--main@2x.webp");
    }
  }

  &--team {
    background-image: url("../img/bg/bg-first-screen--team.webp");
    background-blend-mode: darken;

    @include retina {
      background-image: url("../img/bg/bg-first-screen--team@2x.webp");
    }
  }
}
