<section class="catalog" id="sectionCatalog">
  <h2 class="visually-hidden">Каталог домов</h2>
  <ul class="catalog__list">
    @@include("../card/card.html", {
      "href": "/project-budapesht.html",
      "bemMod": "catalog",
      "bemElement": "catalog__item",
      "bemElementMod": "catalog__item",
      "title": "@@projectsList.budapesht.name",
      "subtitle": "@@projectsList.budapesht.type",
      "propSquare": "@@projectsList.budapesht.square",
      "propfloors": "@@projectsList.budapesht.floors",
      "propMaterial": "@@projectsList.budapesht.material",
      "imgSrc": "img/catalog/budapesht/budapesht-card",
      "imgW": "950"
    })
    @@include("../card/card.html", {
      "href": "/project-milan.html",
      "bemMod": "catalog",
      "bemElement": "catalog__item",
      "bemElementMod": "catalog__item",
      "title": "@@projectsList.milan.name",
      "subtitle": "@@projectsList.milan.type",
      "propSquare": "@@projectsList.milan.square",
      "propfloors": "@@projectsList.milan.floors",
      "propMaterial": "@@projectsList.milan.material",
      "imgSrc": "img/catalog/milan/milan-card",
      "imgW": "950"
    })
    @@include("../card/card.html", {
      "href": "/project-amsterdam.html",
      "bemElement": "catalog__item",
      "bemMod": "catalog",
      "title": "@@projectsList.amsterdam.name",
      "subtitle": "@@projectsList.amsterdam.type",
      "propSquare": "@@projectsList.amsterdam.square",
      "propfloors": "@@projectsList.amsterdam.floors",
      "propMaterial": "@@projectsList.amsterdam.material",
      "imgSrc": "img/catalog/project-1",
      "imgW": "950"
    })
    @@include("../card/card.html", {
      "href": "/project-kanny.html",
      "bemElement": "catalog__item",
      "bemMod": "catalog",
      "title": "@@projectsList.kanny.name",
      "subtitle": "@@projectsList.kanny.type",
      "propSquare": "@@projectsList.kanny.square",
      "propfloors": "@@projectsList.kanny.floors",
      "propMaterial": "@@projectsList.kanny.material",
      "imgSrc": "img/catalog/project-2",
      "imgW": "950"
    })
    @@include("../card/card.html", {
      "href": "/project-kataloniya.html",
      "bemElement": "catalog__item",
      "bemMod": "catalog",
      "title": "@@projectsList.kataloniya.name",
      "subtitle": "@@projectsList.kataloniya.type",
      "propSquare": "@@projectsList.kataloniya.square",
      "propfloors": "@@projectsList.kataloniya.floors",
      "propMaterial": "@@projectsList.kataloniya.material",
      "imgSrc": "img/catalog/project-3",
      "imgW": "950"
    })
    @@include("../card/card.html", {
      "href": "./project-scandica.html",
      "bemElement": "catalog__item",
      "bemMod": "catalog",
      "title": "@@projectsList.scandika.name",
      "subtitle": "@@projectsList.scandika.type",
            "propSquare": "@@projectsList.scandika.square",
            "propfloors": "@@projectsList.scandika.floors",
            "propMaterial": "@@projectsList.scandika.material",
      "imgSrc": "img/catalog/project-4",
      "imgW": "951"
    })
    @@include("../card/card.html", {
      "href": "/project-khelsinki.html",
      "bemElement": "catalog__item",
      "bemMod": "catalog",
      "title": "@@projectsList.khelsinki.name",
      "subtitle": "@@projectsList.khelsinki.type",
                  "propSquare": "@@projectsList.khelsinki.square",
                  "propfloors": "@@projectsList.khelsinki.floors",
                  "propMaterial": "@@projectsList.khelsinki.material",
      "imgSrc": "img/catalog/project-5",
      "imgW": "950"
    })
    @@include("../card/card.html", {
      "href": "/project-keln.html",
      "bemElement": "catalog__item",
      "bemMod": "catalog",
      "title": "@@projectsList.keln.name",
      "subtitle": "@@projectsList.keln.type",
                        "propSquare": "@@projectsList.keln.square",
                        "propfloors": "@@projectsList.keln.floors",
                        "propMaterial": "@@projectsList.keln.material",
      "imgSrc": "img/catalog/keln/1",
      "imgW": "950"
    })
    @@include("../card/card.html", {
      "href": "/project-zheneva.html",
      "bemElement": "catalog__item",
      "bemMod": "catalog",
      "title": "@@projectsList.zheneva.name",
      "subtitle": "@@projectsList.zheneva.type",
                              "propSquare": "@@projectsList.zheneva.square",
                              "propfloors": "@@projectsList.zheneva.floors",
                              "propMaterial": "@@projectsList.zheneva.material",
      "imgSrc": "img/catalog/zheneva/1",
      "imgW": "950"
    })
    @@include("../card/card.html", {
      "href": "/project-bremen.html",
      "bemElement": "catalog__item",
      "bemMod": "catalog",
      "title": "@@projectsList.bremen.name",
      "subtitle": "@@projectsList.bremen.type",
                                    "propSquare": "@@projectsList.bremen.square",
                                    "propfloors": "@@projectsList.bremen.floors",
                                    "propMaterial": "@@projectsList.bremen.material",
      "imgSrc": "img/catalog/bremen/1",
      "imgW": "950"
    })
    @@include("../card/card.html", {
      "href": "/project-nitstsa.html",
      "bemElement": "catalog__item",
      "bemMod": "catalog",
      "title": "@@projectsList.nitstsa.name",
      "subtitle": "@@projectsList.nitstsa.type",
        "propSquare": "@@projectsList.nitstsa.square",
        "propfloors": "@@projectsList.nitstsa.floors",
        "propMaterial": "@@projectsList.nitstsa.material",
      "imgSrc": "img/catalog/nitstsa/1",
      "imgW": "950"
    })
    @@include("../card/card.html", {
      "href": "/project-bratislava.html",
      "bemElement": "catalog__item",
      "bemMod": "catalog",
      "title": "@@projectsList.bratislava.name",
      "subtitle": "@@projectsList.bratislava.type",
        "propSquare": "@@projectsList.bratislava.square",
        "propfloors": "@@projectsList.bratislava.floors",
        "propMaterial": "@@projectsList.bratislava.material",
      "imgSrc": "img/catalog/bratislava/1",
      "imgW": "950"
    })
    @@include("../card/card.html", {
      "href": "/project-keyptaun.html",
      "bemElement": "catalog__item",
      "bemMod": "catalog",
      "title": "@@projectsList.keyptaun.name",
      "subtitle": "@@projectsList.keyptaun.type",
        "propSquare": "@@projectsList.keyptaun.square",
        "propfloors": "@@projectsList.keyptaun.floors",
        "propMaterial": "@@projectsList.keyptaun.material",
      "imgSrc": "img/catalog/keyptaun/1",
      "imgW": "950"
    })
    @@include("../card/card.html", {
      "href": "/project-larnaka.html",
      "bemElement": "catalog__item",
      "bemMod": "catalog",
      "title": "@@projectsList.larnaka.name",
      "subtitle": "@@projectsList.larnaka.type",
        "propSquare": "@@projectsList.larnaka.square",
        "propfloors": "@@projectsList.larnaka.floors",
        "propMaterial": "@@projectsList.larnaka.material",
      "imgSrc": "img/catalog/larnaka/1",
      "imgW": "950"
    })
    @@include("../card/card.html", {
      "href": "/project-toronto.html",
      "bemMod": "catalog",
      "bemElement": "catalog__item",
      "bemElementMod": "catalog__item catalog__item--last-child",
      "title": "@@projectsList.toronto.name",
      "subtitle": "@@projectsList.toronto.type",
        "propSquare": "@@projectsList.toronto.square",
        "propfloors": "@@projectsList.toronto.floors",
        "propMaterial": "@@projectsList.toronto.material",
      "imgSrc": "img/catalog/toronto/1",
      "imgW": "950"
    })
    <!-- Модификатор @bemElementMod: catalog__item--last-child для непарного блока -->
  </ul>
</section>
