<section class="reviews" >
   <div class="container">
      <div class="reviews__inner">
         <div class="reviews__title">Отзывы наших клиентов</div>
         <div class="reviews__content">
            <!-- item -->
            <div class="reviews__item">
               <div class="reviews__video">
                  <video controls>
                     <source src="video/Prince of Egypt - Playing with the big boy.mp4" type="video/mp4">
                  </video>
               </div>
               <div class="reviews__panel">
                  <div class="reviews__icon">
                     <svg>
                        <use xlink:href="/img/sprite_auto.svg#reviews-icon-1"></use>
                     </svg>
                  </div>
                  <div class="reviews__subtitle">Дом 143м2 в Ильинском-Усово</div>
                  <div class="reviews__logo">
                     <svg>
                        <use xlink:href="/img/sprite_auto.svg#logo"></use>
                     </svg>
                  </div>
               </div>
            </div>
            <!-- item -->
            <div class="reviews__item">
               <div class="reviews__video">
                  <video controls>
                     <source src="video/Prince of Egypt - Playing with the big boy.mp4" type="video/mp4">
                  </video>
               </div>
               <div class="reviews__panel">
                  <div class="reviews__icon">
                     <svg>
                        <use xlink:href="/img/sprite_auto.svg#reviews-icon-1"></use>
                     </svg>
                  </div>
                  <div class="reviews__subtitle">Дом 143м2 в Ильинском-Усово</div>
                  <div class="reviews__logo">
                     <svg>
                        <use xlink:href="/img/sprite_auto.svg#logo"></use>
                     </svg>
                  </div>
               </div>
            </div>
            <!-- item -->
            <div class="reviews__item">
               <div class="reviews__video">
                  <video controls>
                     <source src="video/Prince of Egypt - Playing with the big boy.mp4" type="video/mp4">
                  </video>
               </div>
               <div class="reviews__panel">
                  <div class="reviews__icon">
                     <svg>
                        <use xlink:href="/img/sprite_auto.svg#reviews-icon-1"></use>
                     </svg>
                  </div>
                  <div class="reviews__subtitle">Дом 143м2 в Ильинском-Усово</div>
                  <div class="reviews__logo">
                     <svg>
                        <use xlink:href="/img/sprite_auto.svg#logo"></use>
                     </svg>
                  </div>
               </div>
            </div>
            <!-- item -->
            <div class="reviews__item">
               <div class="reviews__video">
                  <video controls>
                     <source src="video/Prince of Egypt - Playing with the big boy.mp4" type="video/mp4">
                  </video>
               </div>
               <div class="reviews__panel">
                  <div class="reviews__icon">
                     <svg>
                        <use xlink:href="/img/sprite_auto.svg#reviews-icon-1"></use>
                     </svg>
                  </div>
                  <div class="reviews__subtitle">Дом 143м2 в Ильинском-Усово</div>
                  <div class="reviews__logo">
                     <svg>
                        <use xlink:href="/img/sprite_auto.svg#logo"></use>
                     </svg>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
